Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2022-12, with the labels that each got.

#78 mods_localize(Applied Mekanistics): Cell -> 單元
  assets/appmek/lang/en_us.json
  assets/appmek/lang/zh_tw.json
Labels: 🌐 翻譯

#79 mods_localize(Applied Botanics Addon): Cell -> 單元
  assets/appbot/lang/en_us.json
  assets/appbot/lang/zh_tw.json
Labels: 🌐 翻譯

#80 mods_localize(MEGA Cells): Cell -> 單元
  assets/megacells/lang/en_us.json
  assets/megacells/lang/zh_tw.json
Labels: 🌐 翻譯

#82 ci: 更新自動化打包資訊
  .github/workflows/Comment-PR.yml
Labels: ☁️ 工作流程

#85 ci: 調整 Thermal 覆蓋來源
  .github/scripts/override_mods.sh
Labels: ☁️ 工作流程

#83 mods_feat(Solar Generation): 新增太陽能發電機組 4.1.1 翻譯
  assets/solargeneration/lang/en_us.json
  assets/solargeneration/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#86 mods_feat(Blocky Stone Doors): 新增石製方塊門 1.0.0 翻譯
  assets/blockydoors/lang/en_us.json
  assets/blockydoors/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#88 mods_feat(Showcase Item): 新增物品展示
  assets/showcaseitem/lang/en_us.json
  assets/showcaseitem/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#89 mods_improve(Flux Networks): 改善部分翻譯
  assets/fluxnetworks/lang/en_us.json
  assets/fluxnetworks/lang/zh_tw.json
Labels: 🌐 翻譯, 💪 提升翻譯品質

#84 mods_feat(NEA): 新增更多動作動畫
  assets/notenoughanimations/lang/en_us.json
  assets/notenoughanimations/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#91 mods_feat(Time in a bottle standalone): 新增時間之瓶
  assets/tiab/lang/en_us.json
  assets/tiab/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#93 ci(Alchemistry): 新增鍊金化學覆蓋
  .github/scripts/override_mods.sh
  README.md
Labels: ☁️ 工作流程

#87 mods_feat(Fastload): 新增快速載入
  assets/fastload/lang/en_us.json
  assets/fastload/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#96 ci: 更新 Simply Light
  .github/scripts/override_mods.sh
Labels: ☁️ 工作流程

#95 mods_feat(Advanced Generators): 新增模組化發電機 1.1.0.6 翻譯
  assets/advgenerators/lang/en_us.json
  assets/advgenerators/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#94 mods_feat(BdLib): 新增 BdLib 1.19.3.7 翻譯
  assets/bdlib/lang/en_us.json
  assets/bdlib/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#90 mods_feat(Archer's Paradox): 弓箭手悖論
  assets/archers_paradox/lang/en_us.json
  assets/archers_paradox/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#92 mods_feat(Corail Woodcutter): 新增鋸木台
  assets/corail_woodcutter/lang/en_us.json
  assets/corail_woodcutter/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯
