Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2023-08, with the labels that each got.

#344 mods_feat(Gateways to Eternity): 新增永恆傳送門 v3.2.2
  MultiVersions/Forge/main/gateways/lang/en_us.json
  MultiVersions/Forge/main/gateways/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#346 docs(Readme): 更新邊緣人的 GitHub 名稱
  README.md
Labels: 📃 文件

#345 refactor(ci): 重寫覆蓋腳本
  .github/configs/override_list.json
  .github/configs/override_list.txt
  .github/scripts/multiversions.sh
  .github/scripts/override_mods.sh
  .github/scripts/override_script.py
  .github/workflows/Auto-Packer.yml
  .github/workflows/Override-Cache.yml
  .github/workflows/ResourcePacker.yml
  .gitignore
  poetry.lock
  pyproject.toml
Labels: ☁️ 工作流程

#347 refactor(ci): 重寫結構驗證腳本
  .github/configs/versions.json
  .github/scripts/verify_structure.py
  .github/scripts/verify_structure.sh
  .github/workflows/Verify-Structure.yml
Labels: ☁️ 工作流程

#348 refactor(ci): 重寫版本替換腳本
  .github/scripts/version_change.sh
  .github/scripts/version_replacer.py
  .github/workflows/ResourcePacker.yml
  MultiVersions/configs/pack.mcmeta
Labels: ☁️ 工作流程

#349 ci: 暫時支援 1.20 打包
  .github/scripts/multiversions.sh
  .github/workflows/Auto-Packer.yml
  .github/workflows/Release-Me.yml
Labels: ☁️ 工作流程

#353 refactor(ci): 重寫發佈工作流程 第一部分
  .github/configs/versions.json
  .github/scripts/version_extractor.py
  .github/scripts/version_matrix.py
  .github/workflows/Auto-Packer.yml
  .github/workflows/CI-Pack-PullRequest.yml
  .github/workflows/Release-Me.yml
  .github/workflows/Reusable-MatrixSetup.yml
  .github/workflows/Reusable-ModrinthPublish.yml
  .github/workflows/Reusable-ResourcePacker.yml
Labels: ☁️ 工作流程

#358 ci: 新增驗證測試版是否存在
  .github/scripts/modrinth_verify_exist.py
  .github/workflows/CI-Pack-Beta.yml
  .github/workflows/Reusable-VerifyExistVersion.yml
Labels: ☁️ 工作流程
