Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2023-12, with the labels that each got.

#516 mods_feat(Client Tweaks): 新增用戶端調整 v11.1.0
  MultiVersions/Forge/main/clienttweaks/lang/en_us.json
  MultiVersions/Forge/main/clienttweaks/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#513 mods_feat(Dragonloot): 終界龍戰利品 v1.1.4
  MultiVersions/Fabric/main/dragonloot/lang/en_us.json
  MultiVersions/Fabric/main/dragonloot/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#530 fix(Labeler): 修正自動標籤新版本格式
  .github/configs/labeler.yml
  .github/workflows/CI-Labeler.yml
Labels: ☁️ 工作流程

#532 fix(ReleasePlease): 更新 v4 版設定格式
  .github/configs/release-please-config.json
  .github/workflows/CI-Pack-ReleasePlease.yml
Labels: ☁️ 工作流程

#533 fix(ReleasePlease): 修正
  .github/workflows/CI-Pack-ReleasePlease.yml
Labels: ☁️ 工作流程

#534 fix(ReleasePlease): 修正
  .github/configs/.release-please-manifest.json
  .github/workflows/CI-Pack-ReleasePlease.yml
Labels: ☁️ 工作流程

#536 fix(ReleasePlease): 修正
  .github/configs/.release-please-manifest.json
  .github/configs/release-please-config.json
Labels: ☁️ 工作流程

#544 fix(ReleasePlease): 修正標籤使用錯誤
  .github/configs/release-please-config.json
Labels: ☁️ 工作流程

#537 chore: 支援 1.20.3 與 1.20.4
  .github/configs/versions.json
Labels: ☁️ 工作流程

#526 mods_feat(Hedgehog): 新增刺蝟 v1.2.0
  MultiVersions/Forge/main/hedgehog/lang/en_us.json
  MultiVersions/Forge/main/hedgehog/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#538 mods_update(No Chat Reports): 更新至 v2.5.0
  MultiVersions/Forge/main/nochatreports/lang/en_us.json
  MultiVersions/Forge/main/nochatreports/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#527 mods_feat(Swampier Swamps): 新增 Swampier Swamps v4.0.0
  MultiVersions/Forge/main/swampier_swamps/lang/en_us.json
  MultiVersions/Forge/main/swampier_swamps/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#528 mods_feat(Portable Jukebox): 新增攜帶式唱片機 v2.2.0
  MultiVersions/Forge/main/portablejukebox/lang/en_us.json
  MultiVersions/Forge/main/portablejukebox/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#523 mods_feat(Projectile Damage Attribute): 新增投射物傷害屬性 v3.2.2
  MultiVersions/Fabric/main/projectile_damage/lang/en_us.json
  MultiVersions/Fabric/main/projectile_damage/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#522 mods_feat(Extractinator): 新增沙石提煉機 v2.3.0
  MultiVersions/Fabric/main/Extractinator/lang/en_us.json
  MultiVersions/Fabric/main/Extractinator/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#520 mods_feat(Colossal Chest): 巨型儲物箱 v1.18.2-1.9.0
  MultiVersions/Forge/main/colossalchests/lang/en_us.json
  MultiVersions/Forge/main/colossalchests/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#524 mods_feat(RPG Series:Jewelry): 新增 RPG 系列：珠寶 v1.2.1
  MultiVersions/Fabric/main/jewelry/lang/en_us.json
  MultiVersions/Fabric/main/jewelry/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#547 ci(PackSquash): 暫時將版本 v4 換成 master
  .github/workflows/Reusable-ResourcePacker.yml
Labels: ☁️ 工作流程

#548 ci(PackSquash): 改回 v4
  .github/workflows/Reusable-ResourcePacker.yml
Labels: ☁️ 工作流程
