Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2023-03, with the labels that each got.

#247 mods_feat(Go Fish): 新增釣魚時光 v1.6.0
  assets/gofish/lang/en_us.json
  assets/gofish/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#249 mods_feat(Item Model Fix): 新增物品模型修正 v1.0.3
  assets/itemmodelfix/lang/en_us.json
  assets/itemmodelfix/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#248 mods_feat(Puzzle): 新增拼圖 v1.4.2
  assets/puzzle/lang/en_us.json
  assets/puzzle/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#254 mods_feat: 新增複數翻譯
  MultiVersions/Forge/main/geodeopolis/lang/en_us.json
  MultiVersions/Forge/main/geodeopolis/lang/zh_tw.json
  MultiVersions/Forge/main/lava_monster/lang/en_us.json
  MultiVersions/Forge/main/lava_monster/lang/zh_tw.json
  MultiVersions/Forge/main/neverenderore/lang/en_us.json
  MultiVersions/Forge/main/neverenderore/lang/zh_tw.json
  MultiVersions/Forge/main/opolisutilities/lang/en_us.json
  MultiVersions/Forge/main/opolisutilities/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#262 mods_localize(AutoFish): 兼容性 -> 相容性
  MultiVersions/Forge/main/autofish/lang/zh_tw.json
Labels: 🌐 翻譯, 🔪 用語在地化

#263 mods_feat(Loginar Storage): 新增洛琪納儲存 v1.1.0
  MultiVersions/Forge/main/loginar/lang/en_us.json
  MultiVersions/Forge/main/loginar/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#261 mods_feat(KleeSlabs): 新增 KleeSlabs v13.1.0
  MultiVersions/Forge/main/kleeslabs/lang/en_us.json
  MultiVersions/Forge/main/kleeslabs/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#260 mods_feat(Polymorph): 新增 Polymorph v0.46.1
  MultiVersions/Forge/main/polymorph/lang/en_us.json
  MultiVersions/Forge/main/polymorph/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#264 mods_feat(Enhanced Block Entities): 新增優化方塊實體 v0.7.2
  MultiVersions/Fabric/main/enhancedblockentities/lang/en_us.json
  MultiVersions/Fabric/main/enhancedblockentities/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#255 mods_feat(NetherPortalFix): 新增地獄門修正 v11.0.2
  MultiVersions/Forge/main/netherportalfix/lang/en_us.json
  MultiVersions/Forge/main/netherportalfix/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#265 mods_feat(Maiden's Merrymaking): 1.19.2-2.2
  MultiVersions/Forge/main/maidensmerrymaking/lang/en_us.json
  MultiVersions/Forge/main/maidensmerrymaking/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#259 mods_feat(Ping Wheel): 新增 Ping 輪 v1.2.0
  MultiVersions/Fabric/main/ping-wheel/lang/en_us.json
  MultiVersions/Fabric/main/ping-wheel/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#258 mods_feat(FastQuit): 新增快速退出 v2.1.0
  MultiVersions/Fabric/main/fastquit/lang/en_us.json
  MultiVersions/Fabric/main/fastquit/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#257 mods_feat(First-person Model): 新增第一人稱模型 v2.2.3
  MultiVersions/Forge/main/firstperson/lang/en_us.json
  MultiVersions/Forge/main/firstperson/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#256 mods_feat(oωo): 新增 oωo 程式庫 v0.10.2
  MultiVersions/Fabric/main/owo/lang/en_us.json
  MultiVersions/Fabric/main/owo/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#273 mods_feat(Vanilla Plus Tools): 新增原版增強工具 v1.1
  MultiVersions/Forge/main/vanillaplustools/lang/en_us.json
  MultiVersions/Forge/main/vanillaplustools/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#275 mods_feat(YDM's Weapon Master): 新增 YDM 的武器大師 v3.0.3
  MultiVersions/Forge/main/weaponmaster/lang/en_us.json
  MultiVersions/Forge/main/weaponmaster/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#274 mods_feat(Infinite source of water): 新增水源方塊 v1.1.0
  MultiVersions/Forge/main/watersources/lang/en_us.json
  MultiVersions/Forge/main/watersources/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#272 mods_feat(Quit): 新增退出警告 v1.0.0
  MultiVersions/Forge/main/quit/lang/en_us.json
  MultiVersions/Forge/main/quit/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#276 mods_feat(Almost Unified): 新增幾乎統一 v0.3.5
  MultiVersions/Forge/main/almostunified/lang/en_us.json
  MultiVersions/Forge/main/almostunified/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#267 mods_update(Caveopolis Mod): 更新 1.19.2 翻譯
  MultiVersions/Forge/main/caveopolis/lang/en_us.json
  MultiVersions/Forge/main/caveopolis/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#271 mods_update(Gadgets Against Grind): 更新翻譯至 v2.0.0
  MultiVersions/Forge/main/gag/lang/en_us.json
  MultiVersions/Forge/main/gag/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#268 mods_update(Cosmopolis Mod): 更新 1.19.2 翻譯
  MultiVersions/Forge/main/cosmopolis/lang/en_us.json
  MultiVersions/Forge/main/cosmopolis/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#278 mods_feat(More Overlays Updated): 新增亮度顯示 v1.21.6
  MultiVersions/Forge/main/moreoverlays/lang/en_us.json
  MultiVersions/Forge/main/moreoverlays/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#269 mods_feat(Deeper and Darker): 新增極度深淵 v1.1.6
  MultiVersions/Forge/main/deeperdarker/lang/en_us.json
  MultiVersions/Forge/main/deeperdarker/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#277 mods_feat(More Mekanism Processing): 新增通用機械｜更多礦物處理配方 v3.0
  MultiVersions/Forge/main/moremekanismprocessing/lang/en_us.json
  MultiVersions/Forge/main/moremekanismprocessing/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#270 mods_feat(Essence Mod): 新增精粹 v1.3.3
  MultiVersions/Forge/main/essence/lang/en_us.json
  MultiVersions/Forge/main/essence/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#279 mods_feat(Chat Toggle): 新增聊天室切換 v3.0.0
  MultiVersions/Fabric/main/chattoggle/lang/en_us.json
  MultiVersions/Fabric/main/chattoggle/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#280 mods_feat(Ceramic Bucket): 新增陶瓷桶 v3.2.1
  MultiVersions/Forge/main/ceramicbucket/lang/en_us.json
  MultiVersions/Forge/main/ceramicbucket/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#282 mods_feat(Toast Control): 彈出提示框控制 v7.0.0
  MultiVersions/Forge/main/toastcontrol/lang/en_us.json
  MultiVersions/Forge/main/toastcontrol/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#281 mods_update(Crafting Tweaks): 更新到 v15.1.6
  MultiVersions/Forge/main/craftingtweaks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#284 mods_feat(Zoomify): 新增縮放性 v2.9.2
  MultiVersions/Fabric/main/zoomify/lang/en_us.json
  MultiVersions/Fabric/main/zoomify/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#285 mods_feat(No Chat Reports): 新增無聊天檢舉 v2.0.0
  MultiVersions/Forge/main/nochatreports/lang/en_us.json
  MultiVersions/Forge/main/nochatreports/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#286 mods_update(OpolisUtilities): 更新至1.19.X-1.18
  MultiVersions/Forge/main/opolisutilities/lang/en_us.json
  MultiVersions/Forge/main/opolisutilities/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#288 mods_update(Opolis Utilities): 新增 Patchouli 手冊翻譯
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/categories/advanced_items.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/categories/basic_items.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/categories/enchantments.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/categories/home_stones.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/categories/intro.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/advanced_home_stone.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/b_bucks.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/basic_home_stone.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/copper_nugget.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/death_stone.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/drying_table.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/ender_peal_fragments.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/ender_scrambler.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/floating_block.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/item_repairer.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/loot_boxes.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/mini_charcoal.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/mini_coal.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/redstone_clock.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/resource_generator.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/resource_generator_2.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/super_home_stone.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/wallet.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/warden_smite.json
  MultiVersions/Forge/main/opolisutilities/patchouli_books/guide_book/zh_tw/entries/wooden_shears.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#289 mods_update(Re-chiseled): 更新至 v1.0.12a
  MultiVersions/Forge/1.18/rechiseled/lang/en_us.json
  MultiVersions/Forge/1.18/rechiseled/lang/zh_tw.json
  MultiVersions/Forge/main/rechiseled/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#290 mods_localize(No Chat Reports): 舉報 -> 檢舉
  MultiVersions/Forge/main/nochatreports/lang/zh_tw.json
Labels: 🌐 翻譯, 🔪 用語在地化

#292 mods_feat(Smooth Swapping): 新增平滑交換 v0.7
  MultiVersions/Fabric/main/smoothswapping/lang/en_us.json
  MultiVersions/Fabric/main/smoothswapping/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#291 mods_feat(Loading Timer): 新增載入計時器
  MultiVersions/Fabric/main/lt/lang/en_us.json
  MultiVersions/Fabric/main/lt/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#294 mods_update(Create Crafts & Additions): 更新至 v20230312a
  MultiVersions/Forge/main/createaddition/lang/en_us.json
  MultiVersions/Forge/main/createaddition/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#300 mods_update(Entangled): 更新至 v1.3.13
  MultiVersions/Forge/1.18/entangled/lang/en_us.json
  MultiVersions/Forge/1.18/entangled/lang/zh_tw.json
  MultiVersions/Forge/main/entangled/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#302 mods_update(Item Collectors): 更新至 v1.1.7
  MultiVersions/Forge/1.18/itemcollectors/lang/en_us.json
  MultiVersions/Forge/1.18/itemcollectors/lang/zh_tw.json
  MultiVersions/Forge/main/itemcollectors/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#311 mods_feat(createcafe): 1.1.5-1.19.2
  MultiVersions/Forge/main/createcafe/lang/en_us.json
  MultiVersions/Forge/main/createcafe/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#303 mods_update(Simple Magnets): 更新至 v1.1.9
  MultiVersions/Forge/1.18/simplemagnets/lang/en_us.json
  MultiVersions/Forge/1.18/simplemagnets/lang/zh_tw.json
  MultiVersions/Forge/main/simplemagnets/lang/en_us.json
  MultiVersions/Forge/main/simplemagnets/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#307 mods_update(Hostile Neural Networks): 更新至 v4.0.2
  MultiVersions/Forge/main/hostilenetworks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#305 mods_update(Wireless Chargers): 更新至 v1.0.8
  MultiVersions/Forge/1.18/wirelesschargers/lang/en_us.json
  MultiVersions/Forge/1.18/wirelesschargers/lang/zh_tw.json
  MultiVersions/Forge/main/wirelesschargers/lang/en_us.json
  MultiVersions/Forge/main/wirelesschargers/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#295 mods_feat(Vending Machine): 新增販賣機 v1.0.8
  MultiVersions/Forge/main/vm/lang/en_us.json
  MultiVersions/Forge/main/vm/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#299 mods_feat(Better Mods Button): 新增更好的模組按鈕 v4.2.1
  MultiVersions/Forge/main/bettermodsbutton/lang/en_us.json
  MultiVersions/Forge/main/bettermodsbutton/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#308 mods_feat(Just Enough Immersive Multiblocks): 新增 JEI 沉浸工程多方塊結構預覽 v0.0.3
  MultiVersions/Forge/main/jeimultiblocks/lang/en_us.json
  MultiVersions/Forge/main/jeimultiblocks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#298 mods_feat(Botany Pots Tiers): 新增高階植物盆 v3.3.1
  MultiVersions/Forge/main/botanypotstiers/lang/en_us.json
  MultiVersions/Forge/main/botanypotstiers/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#301 mods_update(Additional Lanterns): 更新至 v1.0.4
  MultiVersions/Forge/1.18/additionallanterns/lang/en_us.json
  MultiVersions/Forge/1.18/additionallanterns/lang/zh_tw.json
  MultiVersions/Forge/main/additionallanterns/lang/en_us.json
  MultiVersions/Forge/main/additionallanterns/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#306 mods_feat(Artifacts): 新增探險文物 v5.0.2
  MultiVersions/Forge/main/artifacts/lang/en_us.json
  MultiVersions/Forge/main/artifacts/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#309 mods_feat(Lychee): 新增荔枝 v3.8.2
  MultiVersions/Forge/main/lychee/lang/en_us.json
  MultiVersions/Forge/main/lychee/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#310 mods_feat(Create Mechanical Extruder): 1.19.2-1.3.2.i
  MultiVersions/Forge/main/create_mechanical_extruder/lang/en_us.json
  MultiVersions/Forge/main/create_mechanical_extruder/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#314 mods_feat(SimpleStorageNetwork): 簡單儲存網路 1.19-1.6.5
  MultiVersions/Forge/main/storagenetwork/lang/en_us.json
  MultiVersions/Forge/main/storagenetwork/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#313 mods_feat(Restricted Portals): 1.19.3-1.3.2
  MultiVersions/Forge/main/restrictedportals/lang/en_us.json
  MultiVersions/Forge/main/restrictedportals/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#315 mods_fix(Create Cafe): 奧利奧 -> Oreo
  MultiVersions/Forge/main/createcafe/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#312 mods_feat(Nether Depths Upgrade): 2.0.2-1.19.2
  MultiVersions/Forge/main/netherdepthsupgrade/lang/en_us.json
  MultiVersions/Forge/main/netherdepthsupgrade/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#316 mods_feat(Ghost): 小小幽靈 v0.0.3
  MultiVersions/Forge/main/ghosts/lang/en_us.json
  MultiVersions/Forge/main/ghosts/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#317 mods_feat(Exit Confirmation): 確認離開 v2.0.1
  MultiVersions/Forge/main/exit_confirm/lang/en_us.json
  MultiVersions/Forge/main/exit_confirm/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯
