Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2023-02, with the labels that each got.

#168 mods_update(Farmer's Delight): 更新翻譯
  assets/farmersdelight/lang/en_us.json
  assets/farmersdelight/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#166 mods_update(Debugify): 更新至 v1.19.3+1.1
  assets/debugify/lang/en_us.json
  assets/debugify/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#159 docs(ModList): 新增一些模組回饋狀態
  .github/scripts/assets_folder.sh
Labels: ☁️ 工作流程

#186 mods_feat(Enchantment Descriptions): 新增附魔描述 v14.0.4
  assets/enchdesc/lang/en_us.json
  assets/enchdesc/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#169 mods_update(FabriHUD): 更新至 v2.1.0
  assets/fabrihud/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#170 mods_update(Trash Cans): 更新至 v1.0.16
  MultiVersions/Fabric/global/trashcans/lang/en_us.json
  MultiVersions/Fabric/global/trashcans/lang/zh_tw.json
  assets/trashcans/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#171 mods_update(Creeper Overhaul): 更新至 v2.0.6
  assets/creeperoverhaul/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#172 mods_update(multiconnect): 更新至 1.6-beta.25
  assets/multiconnect/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#176 mods_update(Decorative Blocks): 更新至 v3.0.0
  assets/decorative_blocks/lang/en_us.json
  assets/decorative_blocks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#177 ci: 新增 Xaero 賽羅地圖系列覆蓋
  .github/scripts/override_mods.sh
  README.md
Labels: ☁️ 工作流程, 📃 文件

#178 mods_feat(Geckolib): 新增壁虎程式庫 v4.0.3
  assets/geckolib3/lang/en_us.json
  assets/geckolib3/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#179 mods_feat(Another Furniture): 新增另類家具 v2.1.2
  assets/another_furniture/lang/en_us.json
  assets/another_furniture/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#180 mods_feat(DeepslateCutting): 新增深板岩切割 v1.6.0
  assets/deepslatecutting/lang/en_us.json
  assets/deepslatecutting/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#182 mods_feat(Duckling): 新增呱呱 v2.0.8
  assets/duckling/lang/en_us.json
  assets/duckling/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#185 mods_feat(On Soul Fire): 新增在靈魂火上
  assets/onsoulfire/lang/en_us.json
  assets/onsoulfire/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#175 mods_feat(RightClickHarvest): 新增右鍵收割 v3.1.0
  assets/rightclickharvest/lang/en_us.json
  assets/rightclickharvest/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#181 mods_feat(Easy Anvils): 新增簡單化鐵砧 v4.0.6
  assets/easyanvils/lang/en_us.json
  assets/easyanvils/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#173 mods_update(Mouse Wheelie): 更新至 v1.10.7
  assets/mousewheelie/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#189 ci: 更新 Tinker 覆蓋
  .github/scripts/override_mods.sh
Labels: ☁️ 工作流程

#191 mods_feat(Wolves Of Other Furs): 新增狼與其他毛茸茸 v3.0.0
  assets/woof/lang/en_us.json
  assets/woof/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#192 ci: 將暮光森林覆蓋增加回來
  .github/scripts/override_mods.sh
  README.md
Labels: ☁️ 工作流程, 📃 文件

#161 mods_update(Better Statistics Screen): 更新至 v2.1.1
  assets/betterstats/lang/en_us.json
  assets/betterstats/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#174 mods_update(Presence Footsteps): 更新至 v1.7.1
  assets/presencefootsteps/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#184 mods_feat(More Babies): 新增更多幼年生物 v1.0.1
  assets/more_babies/lang/en_us.json
  assets/more_babies/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#190 mods_feat(Snow! Real Magic!): 新增雪！真實的魔法！ v7.2.0
  assets/snowrealmagic/lang/en_us.json
  assets/snowrealmagic/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#188 mods_feat(Paintings ++): 新增繪畫 ++ v10.2.4.0
  assets/paintings/lang/en_us.json
  assets/paintings/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#193 mods_update(AutoModpack): 更新至 v3.0.1
  assets/automodpack/lang/en_us.json
  assets/automodpack/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#194 mods_fix(AutoModpack): 修正已變動的字串
  assets/automodpack/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#195 mods_feat(Visuality): 新增視覺化 v0.6.0
  assets/visuality/lang/en_us.json
  assets/visuality/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#197 mods_feat(Quartz Elevator): 新增石英電梯 v2.2.1
  assets/quartzelv/lang/en_us.json
  assets/quartzelv/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#202 ci: 新增通用腳本庫
  .github/scripts/Common_Library.sh
  .github/scripts/multiversions.sh
  .github/scripts/override_mods.sh
  .github/workflows/Auto-Packer.yml
  .github/workflows/Comment-PR.yml
  .github/workflows/Verify-Structure.yml
  MultiVersions/Fabric/global/twilightforest/lang/en_us.json
  MultiVersions/Fabric/global/twilightforest/lang/zh_tw.json
Labels: ☁️ 工作流程

#203 docs: 更新 TrashCan 貢獻狀態
  .github/scripts/assets_folder.sh
Labels: ☁️ 工作流程

#201 mods_feat(YUNG's Better Strongholds): YUNG 的更好要塞 v3.2.0
  assets/betterstrongholds/lang/en_us.json
  assets/betterstrongholds/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#210 ci: 暫時修復覆蓋下載
  .github/scripts/override_mods.sh
Labels: ☁️ 工作流程

#208 mods_feat(ExtraStorage): 新增額外儲存 2.2.1 翻譯
  assets/extrastorage/lang/en_us.json
  assets/extrastorage/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#200 mods_feat(YUNG's Better Ocean Monuments): YUNG 的更好海底神殿 v2.1.0
  assets/betteroceanmonuments/lang/en_us.json
  assets/betteroceanmonuments/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#196 mods_feat(Fabric Seasons): 新增 Fabric 季節 v1.4
  assets/seasons/lang/en_us.json
  assets/seasons/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#205 mods_feat(Refined Storage): 新增精緻儲存 1.10.5 翻譯
  assets/refinedstorage/lang/en_us.json
  assets/refinedstorage/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#206 mods_feat(Refined Storage Addons): 新增精緻儲存｜擴充 0.8.2 翻譯
  assets/refinedstorageaddons/lang/en_us.json
  assets/refinedstorageaddons/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#207 mods_feat(Cable Tiers): 新增高階線纜 0.547 翻譯
  assets/cabletiers/lang/en_us.json
  assets/cabletiers/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#211 mods_feat(Click Machine): 新增自動點擊器 6.0.5 翻譯
  assets/clickmachine/lang/en_us.json
  assets/clickmachine/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#215 mods_feat(Quests Additions): 新增任務擴充選項 1.4.1 翻譯
  assets/questsadditions/lang/en_us.json
  assets/questsadditions/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#198 mods_feat(Inmis): 新增 Inmis 背包 v2.7.1
  assets/inmis/lang/en_us.json
  assets/inmis/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#199 mods_feat(InmisAddon): 新增 InmisAddon 背包附加 v1.0.3
  assets/inmisaddon/lang/en_us.json
  assets/inmisaddon/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#213 mods_feat(Mini Utilities): 新增迷你實用設備 2.0.0 翻譯
  assets/miniutilities/lang/en_us.json
  assets/miniutilities/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#216 mods_feat(Morph-o-Tool): 新增變形工具 1.5-32 翻譯
  assets/morphtool/lang/en_us.json
  assets/morphtool/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#217 mods_feat(Create: Chromatic Return): 新增動力機械：異彩回歸 1.1 翻譯
  assets/createchromaticreturn/lang/en_us.json
  assets/createchromaticreturn/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#212 mods_feat(Extended Crafting): 新增合成擴展 4.1.1 翻譯
  assets/extendedcrafting/lang/en_us.json
  assets/extendedcrafting/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#214 mods_feat(Project Expansion): 新增等價交換｜擴充專案 1.0.20 翻譯
  assets/projectexpansion/lang/en_us.json
  assets/projectexpansion/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#218 ci: 一些新增
  .github/scripts/assets_folder.sh
  .github/scripts/override_mods.sh
Labels: ☁️ 工作流程

#220 ci(Verify Commit): 修正驗證
  .github/scripts/verify_commit.sh
  .github/workflows/Verify-Commit.yml
Labels: ☁️ 工作流程

#219 docs: 新增貢獻指南
  README.md
  docs/CONTRIBUTING.md
  docs/assets/CompareChange.png
  docs/assets/Forking.png
  docs/assets/OpenPR.png
  docs/assets/SourceControl.png
  docs/assets/WebEditor.png
Labels: 📃 文件

#229 mods_update(JustHammers): 更新至 v1.0.0
  assets/justhammers/lang/en_us.json
  assets/justhammers/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#228 mods_update(Measurements): 更新至 v1.4.1
  assets/measurements/lang/en_us.json
  assets/measurements/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#224 mods_fix(Appbot): 修正縮排格式
  assets/appbot/lang/en_us.json
  assets/appbot/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#223 mods_update(Portable Crafting Table): 同時支援 1.19
  assets/portablecraftingtable/lang/en_us.json
  assets/portablecraftingtable/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#227 mods_update(Pipez): 更新翻譯 1.19.3-1.0.3
  assets/pipez/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#222 mods_fix(Duckling): 修正翻譯錯誤
  assets/duckling/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#225 mods_update(Compact Crafting): 更新至 v3.1.0
  assets/compactcrafting/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#226 mods_feat(CodeChicken Lib): 新增代碼雞塊程式庫 v4.3.1.481
  assets/codechickenlib/lang/en_us.json
  assets/codechickenlib/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#234 mods_update(Mob Grinding Utils): 更新至 v0.4.47
  assets/mob_grinding_utils/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#231 mods_update(FTB Chunks): 更新至 v3.13
  assets/ftbchunks/lang/en_us.json
  assets/ftbchunks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#236 mods_update(Connected Glass): 更新至 v1.1.6
  assets/connectedglass/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#232 mods_update(FTB Teams): 更新至 v2.10
  assets/ftbteams/lang/en_us.json
  assets/ftbteams/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#233 mods_update(FTB Quests): 更新至 v3.14
  assets/ftbquests/lang/en_us.json
  assets/ftbquests/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#235 mods_update(Custom Machinery): 更新至 v0.7.6
  assets/custommachinery/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#237 mods_feat(Cyclops Core): 新增 Cyclops 核心 v1.16.2
  assets/cyclopscore/lang/en_us.json
  assets/cyclopscore/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#239 mods_feat(Cosmopolis Mod): 新增太空奇航模組 v4.0
  assets/cosmopolis/lang/en_us.json
  assets/cosmopolis/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#238 mods_feat(Caveopolis Mod): 新增洞穴奇航模組 v5.1
  assets/caveopolis/lang/en_us.json
  assets/caveopolis/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#241 mods_feat(Jet Boots): 新增噴氣靴子 v1.2.5
  assets/jetboots/lang/en_us.json
  assets/jetboots/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#240 mods_update(Structure Compass): 更新至 v1.4.0
  assets/structurecompass/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#242 mods_feat(Black_dogs's Modding Library): 新增黑狗的模組程式庫 v1.1.8
  assets/blackdogsmoddinglibrary/lang/en_us.json
  assets/blackdogsmoddinglibrary/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#245 mods_localize(Chat Heads): 修正在地化用語
  assets/chat_heads/lang/zh_tw.json
Labels: 🌐 翻譯, 🔪 用語在地化

#244 mods_feat(Smooth Boot): 新增平滑啟動 v1.7.1
  assets/smoothboot/lang/en_us.json
  assets/smoothboot/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#251 mods_feat(Exordium): 新增 Exordium v1.0.3
  assets/exordium/lang/en_us.json
  assets/exordium/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#250 mods_feat(Rotten Creatures): 新增腐爛生物 v1.0.1 翻譯
  assets/rottencreatures/lang/en_us.json
  assets/rottencreatures/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯
