Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2023-01, with the labels that each got.

#98 docs(Readme): 重寫 Readme
  README.md
Labels: 📃 文件

#99 ci: 新增簡轉繁覆蓋
  .github/scripts/override_mods.sh
  .github/workflows/ResourcePacker.yml
Labels: ☁️ 工作流程

#103 docs(Readme): 更新資訊
  README.md
Labels: 📃 文件

#104 mods_update(Functional Storage): 更新 1.1.0 內容翻譯
  assets/functionalstorage/lang/en_us.json
  assets/functionalstorage/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#105 mods_feat(Redstone Arsenal): 新增紅石兵工廠 6.1.1.11 翻譯
  assets/redstone_arsenal/lang/en_us.json
  assets/redstone_arsenal/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#106 mods_feat(Decorative Blocks): 新增裝飾方塊2.1.2 翻譯
  assets/decorative_blocks/lang/en_us.json
  assets/decorative_blocks/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#107 mods_feat(Potions Master): 新增煉藥大師0.5.9 翻譯
  assets/potionsmaster/lang/en_us.json
  assets/potionsmaster/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#108 mods_feat(Comforts): 新增舒適用具 5.0.0.5 翻譯
  assets/comforts/lang/en_us.json
  assets/comforts/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#109 mods_feat(Farming for Blockheads): 新增農牧市集 10.0.2 翻譯
  assets/farmingforblockheads/lang/en_us.json
  assets/farmingforblockheads/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#110 mods_feat(Spice of Life: Carrot Edition): 新增生活調味料：胡蘿蔔版本 1.12.0 翻譯
  assets/solcarrot/lang/en_us.json
  assets/solcarrot/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#111 mods_feat(AlchemyLib): 新增煉金術程式庫 1.0.20 翻譯
  assets/alchemylib/lang/en_us.json
  assets/alchemylib/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#112 mods_feat(Squirt Gun): 新增水槍 1.1.0 翻譯
  assets/squirtgun/lang/en_us.json
  assets/squirtgun/lang/zh_tw.json
  assets/squirtgun/patchouli_books/gun_manual/zh_tw/categories/encapsulator.json
  assets/squirtgun/patchouli_books/gun_manual/zh_tw/categories/gun.json
  assets/squirtgun/patchouli_books/gun_manual/zh_tw/categories/phials.json
  assets/squirtgun/patchouli_books/gun_manual/zh_tw/entries/encapsulator.json
  assets/squirtgun/patchouli_books/gun_manual/zh_tw/entries/encapsulator_use.json
  assets/squirtgun/patchouli_books/gun_manual/zh_tw/entries/gun.json
  assets/squirtgun/patchouli_books/gun_manual/zh_tw/entries/hud.json
  assets/squirtgun/patchouli_books/gun_manual/zh_tw/entries/loading.json
  assets/squirtgun/patchouli_books/gun_manual/zh_tw/entries/phial.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#113 mods_update(Sophisticated Core): 更新 0.5.36.199 內容翻譯
  assets/sophisticatedcore/lang/en_us.json
  assets/sophisticatedcore/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#114 mods_update(Sophisticated Backpacks): 更新 3.18.40.773 內容翻譯
  assets/sophisticatedbackpacks/lang/en_us.json
  assets/sophisticatedbackpacks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#115 mods_update(Sophisticated Storage): 更新 0.6.16.274 內容翻譯
  assets/sophisticatedstorage/lang/en_us.json
  assets/sophisticatedstorage/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#116 mods_feat(Cucumber Library): 新增黃瓜程式庫 5.1.3 翻譯
  assets/cucumber/lang/en_us.json
  assets/cucumber/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#118 mods_fix(ExNihilo): 修正 1.18 翻譯
  .github/workflows/ResourcePacker.yml
  1.18/exnihilosequentia/lang/en_us.json
  1.18/exnihilosequentia/lang/zh_tw.json
  assets/exnihilosequentia/lang/en_us.json
Labels: 🌐 翻譯, ☁️ 工作流程, 🔧 修正翻譯

#117 mods_feat(Domum Ornamentum): 新增居家裝飾 1.0.77 翻譯
  assets/domum_ornamentum/lang/en_us.json
  assets/domum_ornamentum/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#119 mods_fix(Time in a bottle standalone): 將部分字串移動至 1.18
  1.18/tiab/lang/en_us.json
  1.18/tiab/lang/zh_tw.json
  assets/tiab/lang/en_us.json
  assets/tiab/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#120 mods_update(Auto Clicker Fabric): 更新至 1.5.0
  assets/autoclicker-fabric/lang/en_us.json
  assets/autoclicker-fabric/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#122 mods_feat(Advanced XRay): 新增進階 XRay
  assets/advanced-xray-fabric/lang/en_us.json
  assets/advanced-xray-fabric/lang/zh_tw.json
  assets/xray/lang/en_us.json
  assets/xray/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#123 mods_improve(Sky GUIs): 改善部分翻譯
  assets/skyguis/lang/en_us.json
  assets/skyguis/lang/zh_tw.json
Labels: 🌐 翻譯, 💪 提升翻譯品質

#124 mods_improve(Skyblock Builder): 改善部分翻譯
  assets/skyblockbuilder/lang/en_us.json
  assets/skyblockbuilder/lang/zh_tw.json
Labels: 🌐 翻譯, 💪 提升翻譯品質

#125 mods_feat(Structures' Compass): 新增結構羅盤 1.4.1 翻譯
  assets/structures_compass/lang/en_us.json
  assets/structures_compass/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#126 mods_feat(Akashic Tome): 新增阿卡什寶典 1.5 翻譯
  assets/akashictome/lang/en_us.json
  assets/akashictome/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#121 mods_feat(Patcher): 新增硬編碼補丁
  .github/CODEOWNERS
  .github/workflows/Auto-Packer.yml
  .github/workflows/Contributors.yml
  .github/workflows/ResourcePacker.yml
  .github/workflows/VerifyFolder.yml
  Patcher/allthemodium-patch/lang/en_us.json
  Patcher/allthemodium-patch/lang/zh_tw.json
  Patcher/functionalstorage-patch/lang/en_us.json
  Patcher/functionalstorage-patch/lang/zh_tw.json
  Patcher/laserio-patch/lang/en_us.json
  Patcher/laserio-patch/lang/zh_tw.json
  Patcher/mob_grinding_utils-patch/lang/en_us.json
  Patcher/mob_grinding_utils-patch/lang/zh_tw.json
  Patcher/shrink-patch/lang/en_us.json
  Patcher/shrink-patch/lang/zh_tw.json
  Patcher/squirtgun-patch/lang/en_us.json
  Patcher/squirtgun-patch/lang/zh_tw.json
  Patcher/waterstrainer-patch/lang/en_us.json
  Patcher/waterstrainer-patch/lang/zh_tw.json
Labels: ☁️ 工作流程, ✨ 新增翻譯

#127 docs(readme): 手刻
  .github/workflows/Contributors.yml
  README.md
Labels: ☁️ 工作流程, 📃 文件

#130 ci(Override): 更新覆蓋
  .github/scripts/override_mods.sh
Labels: ☁️ 工作流程

#132 mods_feat(GraphUtil): 新增實用圖形工具 v1.0.0
  assets/graphutil/lang/en_us.json
  assets/graphutil/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#134 mods_feat(Dark Paintings): 新增暗色繪畫 v10.0.4
  assets/darkpaintings/lang/en_us.json
  assets/darkpaintings/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#135 mods_feat(Creatures From The Snow!): 新增來自雪地的生物！v4.1.0
  assets/creatures_from_the_snow/lang/en_us.json
  assets/creatures_from_the_snow/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#139 mods_feat(Chubby Stuff!): 新增圓滾滾事物！v2.0.1
  assets/chubbystuff/lang/en_us.json
  assets/chubbystuff/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#145 mods_feat(Charmonium): 新增 Charmonium v4.2.1
  assets/charmonium/lang/en_us.json
  assets/charmonium/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#147 mods_feat(Quick Test World): 新增快速測試世界 v1.0.0
  assets/testworld/lang/en_us.json
  assets/testworld/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#146 mods_feat(FabricSkyboxes): 新增 Fabric 天空箱 v0.6.1
  assets/fabricskyboxes/lang/en_us.json
  assets/fabricskyboxes/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#143 mods_feat(Bookshelf): 新增書櫃程式庫 v16.2.17
  assets/bookshelf/lang/en_us.json
  assets/bookshelf/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#142 mods_feat(Boat Item View): 新增船上物品顯示 v0.0.4
  assets/boatiview/lang/en_us.json
  assets/boatiview/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#129 ci: 新增自動更新模組清單流程
  .github/scripts/assets_folder.sh
  .github/workflows/ModsList-Updater.yml
Labels: ☁️ 工作流程

#141 mods_feat(BHM): 新增 BisectHosting 選單 v1.3
  assets/bhmenu/lang/en_us.json
  assets/bhmenu/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#140 mods_feat(Cherished Worlds): 新增珍愛世界 v6.0.1
  assets/cherishedworlds/lang/en_us.json
  assets/cherishedworlds/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#136 mods_feat(Crawl): 新增爬行 v0.11.5
  assets/crawl/lang/en_us.json
  assets/crawl/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#149 mods_feat(EntityCulling): 新增實體剔除 v1.5.2
  assets/entityculling/lang/en_us.json
  assets/entityculling/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#151 mods_update(LambDynamicLights): 更新至 v2.2.0
  assets/lambdynlights/lang/en_us.json
  assets/lambdynlights/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#138 mods_feat(Collective): 新增 Collective 程式庫 v6.40
  assets/collective/lang/en_us.json
  assets/collective/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#133 mods_update(DashLoader): 更新與分離兩個版本的翻譯
  1.18/dashloader/lang/en_us.json
  1.18/dashloader/lang/zh_tw.json
  assets/dashloader/lang/en_us.json
  assets/dashloader/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#153 mods_feat(Fabrishot): 新增 Fabric 擷取 v1.9.1
  assets/fabrishot/lang/en_us.json
  assets/fabrishot/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#152 mods_feat(Bountiful): 新增懸賞家 v3.3.1
  assets/bountiful/lang/en_us.json
  assets/bountiful/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#150 mods_feat(FabricSkyBoxes Interop): 新增 Fabric 天空箱 - 互通 v1.1.4
  assets/fsb-interop/lang/en_us.json
  assets/fsb-interop/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#137 mods_feat(Chat Heads): 新增聊天室頭像 v0.9.0
  assets/chat_heads/lang/en_us.json
  assets/chat_heads/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#157 mods_update(Sodium Extra): 更新至 v0.4.16
  assets/sodium-extra/lang/en_us.json
  assets/sodium-extra/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#156 mods_fix(Misc): 增加部分模組的原始語言檔
  assets/bcc/lang/en_us.json
  assets/blur/lang/en_us.json
  assets/cloth-config2/lang/en_us.json
  assets/continuity/lang/en_us.json
  assets/ftbbackups/lang/en_us.json
  assets/patchouli/lang/en_us.json
  assets/sdrp/lang/en_us.json
  assets/sodium/lang/en_us.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#154 mods_feat(Better Tridents): 新增更好的三叉戟 v4.0.2
  assets/bettertridents/lang/en_us.json
  assets/bettertridents/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#155 mods_update(Comforts): 更新至 v6.1.1
  assets/comforts/lang/en_us.json
  assets/comforts/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#163 mods_feat(YUNG's Better Witch Huts): 新增 YUNG 的更好女巫小屋 v2.1.0
  1.18/betterwitchhuts/lang/en_us.json
  1.18/betterwitchhuts/lang/zh_tw.json
  assets/betterwitchhuts/lang/en_us.json
  assets/betterwitchhuts/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#164 mods_fix(Bountiful): 修正缺少翻譯
  assets/bountiful/lang/en_us.json
  assets/bountiful/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#160 mods_feat(Bartering Station): 新增以物易物站 v4.0.3
  assets/barteringstation/lang/en_us.json
  assets/barteringstation/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#162 mods_feat(YUNG's Better Desert Temples): YUNG 的更好沙漠神殿 v2.2.1
  1.18/betterdeserttemples/lang/en_us.json
  1.18/betterdeserttemples/lang/zh_tw.json
  assets/betterdeserttemples/lang/en_us.json
  assets/betterdeserttemples/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#144 mods_feat(CarryOn): 新增抬起 v2.0.3.13
  assets/carryon/lang/en_us.json
  assets/carryon/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯
