Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2023-10, with the labels that each got.

#450 mods_feat(Numismatic Overhaul): 新增貨幣翻修 v0.2.10
  MultiVersions/Fabric/main/numismatic-overhaul/lang/en_us.json
  MultiVersions/Fabric/main/numismatic-overhaul/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#452 mods_feat(Portable Tables): 新增攜帶式功能台 v2.4
  MultiVersions/Forge/main/portable_tables/lang/en_us.json
  MultiVersions/Forge/main/portable_tables/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#453 mods_feat(Let's Do Beachparty): 共度時光｜沙灘派對 v1.1.2b
  MultiVersions/Forge/main/beachparty/lang/en_us.json
  MultiVersions/Forge/main/beachparty/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#451 mods_feat(Realm RPG: Pots & Mimics): 新增 Realm RPG：藏寶罐與偽裝蟹 v1.0.1
  MultiVersions/Forge/main/pots_and_mimics/lang/en_us.json
  MultiVersions/Forge/main/pots_and_mimics/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#454 mods_update(Sodium Extra): 同步更新 Crowdin 上翻譯
  MultiVersions/Forge/main/sodium-extra/lang/en_us.json
  MultiVersions/Forge/main/sodium-extra/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#467 mods_feat(YDM's Fennec Fox): 新增YDM的耳廓狐v1.0.0
  MultiVersions/Forge/main/fennecfox/lang/en_us.json
  MultiVersions/Forge/main/fennecfox/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#459 mods_update(Beautify): 更新翻譯至 v2.0.2
  MultiVersions/Forge/main/beautify/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#468 mods_feat(Numismatic Overhaul: Reforged): 新增貨幣翻修：重鑄 v1.0.4
  MultiVersions/Forge/main/numismaticoverhaul/lang/en_us.json
  MultiVersions/Forge/main/numismaticoverhaul/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#470 mods_fix(MythicBotany): 修復神話植物學舊版翻譯(1.18.2-2.1.14)
  MultiVersions/Forge/1.18/mythicbotany/lang/en_us.json
  MultiVersions/Forge/1.18/mythicbotany/lang/zh_tw.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/categories/alfheim.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/categories/mythic_botany.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/entries/alfheim/alfheim_landscape.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/entries/alfheim/alfheim_resources.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/entries/alfheim/andwari.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/entries/alfheim/kvasir.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/functional.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/generating.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/infuser.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/manaband.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/mimir.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/mjoellnir.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/pylons.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/rings.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/rune_rituals.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/runes.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/tools.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/en_us/templates/infuser.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/categories/alfheim.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/categories/mythic_botany.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/entries/alfheim/alfheim_landscape.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/entries/alfheim/alfheim_resources.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/entries/alfheim/andwari.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/entries/alfheim/kvasir.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/functional.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/generating.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/infuser.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/manaband.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/mimir.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/mjoellnir.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/pylons.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/rings.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/rune_rituals.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/runes.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/tools.json
  MultiVersions/Forge/1.18/mythicbotany/patchouli_books/lexicon/zh_tw/templates/infuser.json
  MultiVersions/Forge/1.18/mythicbotany_lexicon/lang/en_us.json
  MultiVersions/Forge/1.18/mythicbotany_lexicon/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#476 ci: 新增貢獻者 readme 換行腳本
  .github/scripts/contributors_generator.py
  .github/workflows/CI-Contributors.yml
Labels: ☁️ 工作流程

#477 fix(Contributors Generator): 調整為一行六人
  .github/scripts/contributors_generator.py
Labels: ☁️ 工作流程

#474 chore: 將版本替換腳本改成生成 mcmeta 資料
  .github/configs/versions.json
  .github/scripts/mcmeta_generate.py
  .github/scripts/version_replacer.py
  .github/workflows/Reusable-ResourcePacker.yml
  MultiVersions/configs/pack.mcmeta
Labels: ☁️ 工作流程

#486 mods_feat(Heartstone): 新增尋心石 v1.2.2
  MultiVersions/Forge/main/heartstone/lang/en_us.json
  MultiVersions/Forge/main/heartstone/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#469 mods_feat(Conjurer): 新增魔術師 v1.1.6
  MultiVersions/Forge/main/conjurer/lang/en_us.json
  MultiVersions/Forge/main/conjurer/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#460 mods_feat(Woodworks): 新增木製品 v2.2.2
  MultiVersions/Forge/main/woodworks/lang/en_us.json
  MultiVersions/Forge/main/woodworks/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#458 mods_feat(Philips Ruins): 新增 Philip 的遺址 v7.7
  MultiVersions/Fabric/main/philipsruins/lang/en_us.json
  MultiVersions/Fabric/main/philipsruins/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#457 mods_feat(Atmospheric): 新增悠然一派 v5.0.0
  MultiVersions/Forge/main/atmospheric/lang/en_us.json
  MultiVersions/Forge/main/atmospheric/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#465 mods_feat(Crabbers Delight): 新增螃蟹樂事 v1.1.2
  MultiVersions/Forge/main/crabbersdelight/lang/en_us.json
  MultiVersions/Forge/main/crabbersdelight/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#478 mods_feat(Difficult Raids): 突襲加強 v.1.19.2-2.0-beta.11
  MultiVersions/Forge/main/difficultraids/lang/en_us.json
  MultiVersions/Forge/main/difficultraids/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#472 mods_feat(Progressive Bosses): Boss 難度漸增 v.3.7.5
  MultiVersions/Forge/main/progressivebosses/lang/en_us.json
  MultiVersions/Forge/main/progressivebosses/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#475 mods_remove(SlimefunToEMI): 移除黏液 EMI
  MultiVersions/Forge/main/sftoemi/lang/en_us.json
  MultiVersions/Forge/main/sftoemi/lang/zh_tw.json
Labels: 🌐 翻譯

#473 mods_feat(Slimefun Essentials): 新增黏液基礎性 v0.3.1-beta
  MultiVersions/Fabric/main/slimefun_essentials/lang/en_us.json
  MultiVersions/Fabric/main/slimefun_essentials/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#493 mods_feat(NoCube's Chinchillas): 新增 NoCube 的絨鼠 v1.2.0
  MultiVersions/Forge/main/chinchillas/lang/en_us.json
  MultiVersions/Forge/main/chinchillas/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#466 mods_feat(Autumnity): 新增秋意楓林 v4.0.1
  MultiVersions/Forge/main/autumnity/lang/en_us.json
  MultiVersions/Forge/main/autumnity/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#492 mods_feat(Sleeping Bags): 新增睡袋 v1.0.3
  MultiVersions/Forge/main/sleeping_bags/lang/en_us.json
  MultiVersions/Forge/main/sleeping_bags/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#496 mods_update(Allthemodium): 更新翻譯至 v2.4.1
  MultiVersions/Forge/main/allthemodium/lang/en_us.json
  MultiVersions/Forge/main/allthemodium/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#491 mods_feat(Nether's Exoticism): 新增地獄情調 v1.2.6
  MultiVersions/Forge/main/nethers_exoticism/lang/en_us.json
  MultiVersions/Forge/main/nethers_exoticism/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#498 mods_update(Shrink): 更新翻譯至 v1.4.9
  MultiVersions/Forge/main/shrink/lang/en_us.json
  MultiVersions/Forge/main/shrink/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#464 mods_feat(Goblin Traders): 新增哥布林商人 v1.9.2
  MultiVersions/Forge/main/goblintraders/lang/en_us.json
  MultiVersions/Forge/main/goblintraders/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#497 mods_update(All The Tweaks): 更新翻譯至 v2.1.4
  MultiVersions/Forge/main/allthetweaks/lang/en_us.json
  MultiVersions/Forge/main/allthetweaks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#481 mods_feat(Enderman Overhaul): 新增終界使者翻修 v1.0.0
  MultiVersions/Forge/main/endermanoverhaul/lang/en_us.json
  MultiVersions/Forge/main/endermanoverhaul/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#490 mods_feat(Underground Jungle): 新增地下叢林神廟 v2.1
  MultiVersions/Forge/main/underground_jungle/lang/en_us.json
  MultiVersions/Forge/main/underground_jungle/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#489 mods_feat(Miner's Delight): 新增礦工樂事 v1.1.2
  MultiVersions/Forge/main/miners_delight/lang/en_us.json
  MultiVersions/Forge/main/miners_delight/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#479 mods_feat(Let's Do: Candlelight): 新增共度時光：燭光晚餐 v1.2.4
  MultiVersions/Forge/main/candlelight/lang/en_us.json
  MultiVersions/Forge/main/candlelight/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#487 mods_feat(Cultural Delights): 新增多元樂事 [Fabric] v0.14.11
  MultiVersions/Fabric/main/culturaldelights/lang/en_us.json
  MultiVersions/Fabric/main/culturaldelights/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#488 mods_feat(minerally): 新增礦產 v1.0
  MultiVersions/Fabric/main/minerally/lang/en_us.json
  MultiVersions/Fabric/main/minerally/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#499 ci(VerifyStructure): 新增例外資料結構
  .github/scripts/verify_structure.py
  .github/workflows/Reusable-ResourcePacker.yml
Labels: ☁️ 工作流程

#500 ci(ResourcePacker): 新增該模組的例外圖片路徑
  .github/workflows/Reusable-ResourcePacker.yml
Labels: ☁️ 工作流程
