Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2023-04, with the labels that each got.

#318 mods_feat(EverlastingAbilities): 新增永恆能力 v2.0.3
  MultiVersions/Forge/main/everlastingabilities/lang/en_us.json
  MultiVersions/Forge/main/everlastingabilities/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#319 mods_update(Hexerei): 更新至 v0.2.5
  MultiVersions/Forge/main/hexerei/lang/en_us.json
  MultiVersions/Forge/main/hexerei/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#320 mods_feat(Lootr): 新增 Lootr v0.4.23.60
  MultiVersions/Forge/main/lootr/lang/en_us.json
  MultiVersions/Forge/main/lootr/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#322 mods_fix(Auto Clicker Fabric): 修正翻譯錯誤 怪物 -> 生物
  MultiVersions/Forge/main/autoclicker-fabric/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯
