Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2023-09, with the labels that each got.

#360 ci: 更新動態 FPS 的覆蓋
  .github/configs/override_list.json
  .github/scripts/override_script.py
Labels: ☁️ 工作流程

#361 ci: 更新 Thermal 覆蓋
  .github/configs/override_list.json
  README.md
Labels: ☁️ 工作流程, 📃 文件

#364 ci: 修正覆蓋
  .github/configs/override_list.json
  .github/workflows/CI-OverrideCache.yml
Labels: ☁️ 工作流程

#357 mods_feat(Elegant Armour): 新增優雅客製化 v1.0.7
  MultiVersions/Fabric/1.19/elegantarmour/lang/en_us.json
  MultiVersions/Fabric/1.19/elegantarmour/lang/zh_tw.json
  MultiVersions/Fabric/main/elegantarmour/lang/en_us.json
  MultiVersions/Fabric/main/elegantarmour/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#359 mods_feat(EMI): 新增 EMI v1.0.19
  MultiVersions/Forge/main/emi/lang/en_us.json
  MultiVersions/Forge/main/emi/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#362 mods_feat(Chimes): 新增風鈴 v2.0.1
  MultiVersions/Forge/main/chimes/lang/en_us.json
  MultiVersions/Forge/main/chimes/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#363 mods_feat(Travel Anchors): 新增旅行錨 v4.1.2
  MultiVersions/Forge/main/travelanchors/lang/en_us.json
  MultiVersions/Forge/main/travelanchors/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#365 mods_feat(Enigmatic Graves): 新增 Enigmatic Graves v1.7.11-b1
  MultiVersions/Forge/main/enigmaticgraves/lang/en_us.json
  MultiVersions/Forge/main/enigmaticgraves/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#366 mods_feat(Trofers): 新增獎盃 v3.2.0
  MultiVersions/Forge/main/trofers/lang/en_us.json
  MultiVersions/Forge/main/trofers/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#368 mods_remove(Create): 移除 Create
  MultiVersions/Forge/main/create/lang/en_us.json
  MultiVersions/Forge/main/create/lang/zh_tw.json
Labels: 🌐 翻譯

#370 mods_update(Creeper Overhaul): 更新翻譯至 v3.0.1
  MultiVersions/Forge/main/creeperoverhaul/lang/en_us.json
  MultiVersions/Forge/main/creeperoverhaul/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#369 ci: 新增成品建構摘要與 Beta 的約定式提交變更記錄
  .github/scripts/commit_formater.py
  .github/scripts/summary_generate.py
  .github/workflows/CI-Pack-Beta.yml
  .github/workflows/CI-Pack-PullRequest.yml
  .github/workflows/Reusable-ResourcePacker.yml
  .github/workflows/Reusable-Summary.yml
Labels: ☁️ 工作流程

#388 ci: 小調整變更記錄產生格式
  .github/scripts/commit_formater.py
  .github/workflows/CI-VerifyCommit.yml
Labels: ☁️ 工作流程

#372 mods_feat(Warden Tools): 新增伏守者工具 v2.3.0
  MultiVersions/Fabric/main/wardentools/lang/en_us.json
  MultiVersions/Fabric/main/wardentools/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#393 ci: 調整摘要格式
  .github/scripts/summary_generate.py
Labels: ☁️ 工作流程

#381 mods_feat(Qualitys Delight): 新增優質樂事模組 v1.3.0
  MultiVersions/Forge/main/qualitysdelight/lang/en_us.json
  MultiVersions/Forge/main/qualitysdelight/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#382 mods_feat(Mighty Mail): 新增強大郵寄 v1.0.13
  MultiVersions/Forge/main/mightymail/lang/en_us.json
  MultiVersions/Forge/main/mightymail/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#387 mods_update(Plushies Mod): 更新絨毛玩具翻譯至 v1.3.0
  MultiVersions/Forge/main/plushies/lang/en_us.json
  MultiVersions/Forge/main/plushies/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#396 mods_feat(Hellion's Sniffer+): 新增Hellion的嗅探獸+ v0.2.0
  MultiVersions/Forge/en_us.json
  MultiVersions/Forge/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#376 mods_feat(Colorful Hearts): 多彩愛心
  MultiVersions/Forge/main/colorfulhearts/lang/en_us.json
  MultiVersions/Forge/main/colorfulhearts/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#386 mods_feat(Quality Crops): 新增優質作物 v1.0.5
  MultiVersions/Forge/main/qualitycrops/lang/en_us.json
  MultiVersions/Forge/main/qualitycrops/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#385 mods_feat(Horse Expert): 新增馬術專家 v8.0.1
  MultiVersions/Forge/main/horseexpert/lang/en_us.json
  MultiVersions/Forge/main/horseexpert/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#401 mods_fix(Hellion's Sniffer+): 修正路徑
  MultiVersions/Forge/main/snifferplus/lang/en_us.json
  MultiVersions/Forge/main/snifferplus/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#402 chore(Structure CI): 小小整理與修正錯誤例外
  .github/scripts/verify_structure.py
Labels: ☁️ 工作流程

#399 mods_update(Fabric Seasons): 更新到 v2.2.1
  MultiVersions/Fabric/main/seasons/lang/en_us.json
  MultiVersions/Fabric/main/seasons/lang/zh_tw.json
  MultiVersions/Forge/main/seasons/lang/en_us.json
  MultiVersions/Forge/main/seasons/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#375 mods_feat(Client Side Noteblocks): 新增用戶端音階盒 v2.6
  MultiVersions/Fabric/main/clientsidenoteblocks/lang/en_us.json
  MultiVersions/Fabric/main/clientsidenoteblocks/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#373 mods_feat(More Geodes): 新增更多晶洞 v1.8.2
  MultiVersions/Fabric/main/moregeodes/lang/en_us.json
  MultiVersions/Fabric/main/moregeodes/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#378 mods_update(Fabrishot): 更新至 v1.10.0
  MultiVersions/Forge/main/fabrishot/lang/en_us.json
  MultiVersions/Forge/main/fabrishot/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#404 mods_feat(Builtin Servers): 新增內建伺服器 v2.1
  MultiVersions/Forge/main/builtinservers/lang/en_us.json
  MultiVersions/Forge/main/builtinservers/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#374 mods_feat(Just Outdoor Stuffs): 新增只是些戶外用品 v1.0.2
  MultiVersions/Forge/main/justoutdoorstuffs/lang/en_us.json
  MultiVersions/Forge/main/justoutdoorstuffs/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#398 mods_feat(Let's Do: Meadow): 新增Let's Do: Meadow v1.3.1
  MultiVersions/Forge/main/letsdomeadow/lang/en_us.json
  MultiVersions/Forge/main/letsdomeadow/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#400 mods_feat(Ecologics): 新增 Ecologics v2.1.13
  MultiVersions/Forge/main/ecologics/lang/en_us.json
  MultiVersions/Forge/main/ecologics/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#403 mods_feat(Sushi Go Crafting): 新增巧製壽司 v0.3.8
  MultiVersions/Forge/main/sushigocrafting/lang/en_us.json
  MultiVersions/Forge/main/sushigocrafting/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#395 mods_feat(Wavey Capes): 新增波浪披風 v1.4.0
  MultiVersions/Forge/main/waveycapes/lang/en_us.json
  MultiVersions/Forge/main/waveycapes/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#394 mods_feat(Elytra Trims): 新增鞘翅紋樣 v1.3.3
  MultiVersions/Fabric/main/elytratrims/lang/en_us.json
  MultiVersions/Fabric/main/elytratrims/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#384 mods_feat(Snowy Spirit): 新增雪上潮流 v2.2.5
  MultiVersions/Forge/main/snowyspirit/lang/en_us.json
  MultiVersions/Forge/main/snowyspirit/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#377 mods_update(Enhanced Block Entities): 更新至 v0.9
  MultiVersions/Fabric/main/enhancedblockentities/lang/en_us.json
  MultiVersions/Fabric/main/enhancedblockentities/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#355 mods_update(MythicBotany): 神話植物學 v3.0.2
  MultiVersions/Forge/main/mythicbotany/lang/en_us.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/categories/alfheim.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/categories/mythic_botany.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/entries/alfheim/alfheim_landscape.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/entries/alfheim/alfheim_resources.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/entries/alfheim/andwari.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/entries/alfheim/kvasir.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/functional.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/generating.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/infuser.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/manaband.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/mimir.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/mjoellnir.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/pylons.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/rings.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/rune_rituals.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/runes.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/entries/mythic_botany/tools.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/en_us/templates/infuser.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/categories/alfheim.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/categories/mythic_botany.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/entries/alfheim/alfheim_landscape.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/entries/alfheim/alfheim_resources.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/entries/alfheim/andwari.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/entries/alfheim/kvasir.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/functional.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/generating.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/infuser.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/manaband.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/mimir.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/mjoellnir.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/pylons.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/rings.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/rune_rituals.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/runes.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/entries/mythic_botany/tools.json
  MultiVersions/Forge/main/mythicbotany/patchouli_books/lexicon/zh_tw/templates/infuser.json
  MultiVersions/Forge/main/mythicbotany_lexicon/lang/en_us.json
  MultiVersions/Forge/main/mythicbotany_lexicon/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#354 mods_feat(Botanic Addition): 額外植物學 v19.3.5
  MultiVersions/Forge/main/botanicadds/lang/en_us.lang
  MultiVersions/Forge/main/botanicadds/lang/zh_tw.lang
Labels: 🌐 翻譯, ✨ 新增翻譯

#407 mods_update(FTB Chunks): 更新至 v2001.2.1
  MultiVersions/Forge/main/ftbchunks/lang/en_us.json
  MultiVersions/Forge/main/ftbchunks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#408 mods_update(FTB Chunks): 遷移舊版翻譯至 1.18
  MultiVersions/Forge/1.18/ftbchunks/lang/en_us.json
  MultiVersions/Forge/1.18/ftbchunks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#409 mods_update(FTB Library): 更新至 v2001.1.3
  MultiVersions/Forge/main/ftblibrary/lang/en_us.json
  MultiVersions/Forge/main/ftblibrary/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#410 mods_update(FTB Teams): 更新至 v2001.1.4
  MultiVersions/Forge/main/ftbteams/lang/en_us.json
  MultiVersions/Forge/main/ftbteams/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#411 ci: 將 Release Please 放回來
  .github/configs/changelog-types.json
  .github/workflows/CI-Pack-Release.yml
  .github/workflows/CI-Pack-ReleasePlease.yml
  .github/workflows/Reusable-ModrinthPublish.yml
Labels: ☁️ 工作流程

#413 mods_update(FTB Quests): 更新至 v2001.1.3
  MultiVersions/Forge/main/ftbquests/lang/en_us.json
  MultiVersions/Forge/main/ftbquests/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#418 mods_fix(FTB Essentials): 修正空格以符合原始檔案
  MultiVersions/Forge/main/ftbessentials/lang/en_us.json
  MultiVersions/Forge/main/ftbessentials/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#417 mods_fix(FTB Backups 2): 刪除多餘的換行
  MultiVersions/Forge/main/ftbbackups/lang/en_us.json
  MultiVersions/Forge/main/ftbbackups/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#415 mods_update(Functional Storage): 更新至 v1.2.3
  MultiVersions/Forge/main/functionalstorage/lang/en_us.json
  MultiVersions/Forge/main/functionalstorage/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#416 mods_update(FTB Ultimine): 更新至 v2001.1.2
  MultiVersions/Forge/main/ftbultimine/lang/en_us.json
  MultiVersions/Forge/main/ftbultimine/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#420 mods_update(Sophisticated Storage): 更新至 v0.8.51.605
  MultiVersions/Forge/main/sophisticatedstorage/lang/en_us.json
  MultiVersions/Forge/main/sophisticatedstorage/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#422 mods_improve(Sophisticated Core): 變更譯名
  MultiVersions/Forge/main/sophisticatedcore/lang/zh_tw.json
Labels: 🌐 翻譯, 💪 提升翻譯品質

#421 mods_improve(Sophisticated Backpacks): 變更譯名
  MultiVersions/Forge/main/sophisticatedbackpacks/lang/zh_tw.json
Labels: 🌐 翻譯, 💪 提升翻譯品質

#406 ci(R2 Upload): 新增合併請求的 R2 自動上傳
  .github/workflows/CI-CommentPR.yml
  .github/workflows/CI-Pack-PullRequest.yml
  .github/workflows/Reusable-UploadR2.yml
Labels: ☁️ 工作流程

#431 ci(ResourcePacker): 將 PackSquash 工作流程改回 Action v4
  .github/workflows/Reusable-ResourcePacker.yml
Labels: ☁️ 工作流程

#423 mods_feat(Gilded Armor): 新增鑲金盔甲 v1.7.0
  MultiVersions/Forge/main/gildedarmor/lang/en_us.json
  MultiVersions/Forge/main/gildedarmor/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#424 mods_feat(Serene Seasons): 新增靜謐四季 v9.0.0.43
  MultiVersions/Forge/main/sereneseasons/lang/en_us.json
  MultiVersions/Forge/main/sereneseasons/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#425 mods_feat(Chef's Delight): 主廚樂事 v1.0.3
  MultiVersions/Forge/main/chefsdelight/lang/en_us.json
  MultiVersions/Forge/main/chefsdelight/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#426 mods_feat(Ender Crop): 新增終界果作物 v1.7.0
  MultiVersions/Forge/main/endercrop/lang/en_us.json
  MultiVersions/Forge/main/endercrop/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#427 mods_feat(Enders Delight): 新增終界樂事 v1.2.1
  MultiVersions/Forge/main/endersdelight/lang/en_us.json
  MultiVersions/Forge/main/endersdelight/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#441 mods_fix(Sophisticated Storage): 補齊遺漏的譯名變更
  MultiVersions/Forge/main/sophisticatedstorage/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#419 mods_feat(ManyIdeas Core): 新增ManyIdeas Core模組 v1.4.2
  MultiVersions/Forge/main/manyideas_core/lang/en_us.json
  MultiVersions/Forge/main/manyideas_core/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#434 mods_feat(ManyIdeas Doors): 新增ManyIdeas Doors v1.2.3
  MultiVersions/Forge/main/manyideas_doors/lang/en_us.json
  MultiVersions/Forge/main/manyideas_doors/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#436 mods_feat(Beautify!): 新增美化！ v2.0.1
  MultiVersions/Forge/main/beautify/lang/en_us.json
  MultiVersions/Forge/main/beautify/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#437 mods_feat(YDM's Red Panda): 新增YDM的小貓熊 v1.0.4
  MultiVersions/Forge/main/ydms_redpanda/lang/en_us.json
  MultiVersions/Forge/main/ydms_redpanda/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#438 mods_feat(Carpenter): 新增儲物箱木匠 v1.2.1
  MultiVersions/Forge/main/carpenter/lang/en_us.json
  MultiVersions/Forge/main/carpenter/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#439 mods_feat(Peculiars): 新增獨特風味 v4.0.1
  MultiVersions/Forge/main/peculiars/lang/en_us.json
  MultiVersions/Forge/main/peculiars/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#440 mods_feat(Some Assembly Required): 新增Some Assembly Required v4.0.0
  MultiVersions/Forge/main/some_assembly_required/lang/en_us.json
  MultiVersions/Forge/main/some_assembly_required/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#433 mods_feat(Flower Foxes!): 新增花狐！ v1.12
  MultiVersions/Forge/main/flower_foxes/lang/en_us.json
  MultiVersions/Forge/main/flower_foxes/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#442 ci(R2 Upload): 將上傳部分分離開
  .github/workflows/CI-Pack-PullRequest.yml
  .github/workflows/CI-UploadR2.yml
  .github/workflows/Reusable-UploadR2.yml
Labels: ☁️ 工作流程

#448 mods_update(Gateways to Eternity): 遷移舊版翻譯至 1.19
  MultiVersions/Forge/1.19/gateways/lang/en_us.json
  MultiVersions/Forge/1.19/gateways/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#447 mods_update(Gateways to Eternity): 更新翻譯至 v4.1.1
  MultiVersions/Forge/main/gateways/lang/en_us.json
  MultiVersions/Forge/main/gateways/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#445 mods_feat(Apothic Attributes): 新增屬性程式庫 v1.1.4
  MultiVersions/Forge/main/attributeslib/lang/en_us.json
  MultiVersions/Forge/main/attributeslib/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#444 mods_update(Apotheosis): 更新翻譯至 v7.0.5
  MultiVersions/Forge/main/apotheosis/lang/en_us.json
  MultiVersions/Forge/main/apotheosis/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#443 mods_feat(Ore Tree:Reborn): 礦物樹:重生 v0.2.5.1
  MultiVersions/Forge/main/ore_tree/lang/en_us.json
  MultiVersions/Forge/main/ore_tree/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯
