Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2024-05, with the labels that each got.

#622 mods_feat(More Delight): 新增 More Delight v1.2.2
  MultiVersions/Fabric/main/moredelight/lang/en_us.json
  MultiVersions/Fabric/main/moredelight/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#623 chore(CI): 更新版本至 1.20.5
  .github/configs/versions.json
Labels: ☁️ 工作流程

#618 mods_feat(Ocean's Delight): 新增海洋樂事 v1.0.2
  MultiVersions/Forge/main/oceansdelight/lang/en_us.json
  MultiVersions/Forge/main/oceansdelight/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#628 chore(Override): 更新覆蓋
  .github/configs/override_list.json
Labels: ☁️ 工作流程

#629 chore(Override): 新增 Gobber 覆蓋
  .github/configs/override_list.json
  README.md
Labels: ☁️ 工作流程, 📃 文件

#621 mods_feat(Drip Sounds): 新增滴落音效 v0.3.2
  MultiVersions/Fabric/main/waterdripsound/lang/en_us.json
  MultiVersions/Fabric/main/waterdripsound/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#585 mods_feat(Origins): 新增起源 1.20.1-v1.10.0
  MultiVersions/Fabric/main/origins/lang/en_us.json
  MultiVersions/Fabric/main/origins/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#586 mods_feat(Origins: Classes): 新增起源：職業 v1.20-1.7.0
  MultiVersions/Fabric/main/origins-classes/lang/en_us.json
  MultiVersions/Fabric/main/origins-classes/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#624 mods_update(Woodworks): 更新至 v3.0.1
  MultiVersions/Forge/main/woodworks/lang/en_us.json
  MultiVersions/Forge/main/woodworks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#614 mods_feat(Superior Shields): 新增卓越護盾 v3.0.2a
  MultiVersions/Forge/main/superiorshields/lang/en_us.json
  MultiVersions/Forge/main/superiorshields/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#613 mods_feat(StarbuncleMania): 新增星寶石獸狂熱 v1.0.11
  MultiVersions/Forge/main/starbunclemania/lang/en_us.json
  MultiVersions/Forge/main/starbunclemania/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#625 mods_feat(Brandon's Core): 新增 Brandon's Core v3.1.10
  MultiVersions/Forge/main/brandonscore/lang/en_us.json
  MultiVersions/Forge/main/brandonscore/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#626 mods_feat(Draconic Evolution): 新增龍族進化 v3.0.31
  MultiVersions/Forge/main/draconicevolution/lang/en_us.json
  MultiVersions/Forge/main/draconicevolution/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#627 mods_feat(Draconic Additions): 新增龍族進化：追加 v2.2.7.10
  MultiVersions/Forge/main/draconicadditions/lang/en_us.json
  MultiVersions/Forge/main/draconicadditions/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#616 mods_feat(Re:Deco): 新增 Re:Deco v1.8.0
  MultiVersions/Forge/main/redeco/lang/en_us.json
  MultiVersions/Forge/main/redeco/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#619 mods_feat(Vanilla Cookbook): 新增 Vanilla Cookbook v2.2.2
  MultiVersions/Forge/main/vanillacookbook/lang/en_us.json
  MultiVersions/Forge/main/vanillacookbook/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#579 mods_feat(The Aether): 新增天堂 v1.4.2
  MultiVersions/Forge/main/aether/lang/en_us.json
  MultiVersions/Forge/main/aether/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#631 mods_feat(Create Utilities): 新增動力機械｜實用設備 v0.3.0
  MultiVersions/Forge/main/createutilities/lang/en_us.json
  MultiVersions/Forge/main/createutilities/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#634 ci(Override): 將 Sodium 改為覆蓋
  .github/configs/override_list.json
  MultiVersions/Forge/main/sodium/lang/en_us.json
  MultiVersions/Forge/main/sodium/lang/zh_tw.json
Labels: 🌐 翻譯, ☁️ 工作流程

#636 fix(Mods Counter): 移除 Sodium 條件排除
  .github/scripts/mods_counter.py
Labels: ☁️ 工作流程

#635 mods_fix(Brandon's Core): Operational Potential 改譯
  MultiVersions/Forge/main/brandonscore/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#643 ci(Override): 將 Sodium 覆蓋改為 Fabric
  .github/configs/override_list.json
Labels: ☁️ 工作流程

#637 mods_update(FTB Chunks): 更新 FTB Chunks 1.19 翻譯至 v4.4
  MultiVersions/Forge/1.19/ftbchunks/lang/en_us.json
  MultiVersions/Forge/1.19/ftbchunks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#638 mods_update(FTB Ultimine): 更新至 v2001.1.4
  MultiVersions/Forge/main/ftbultimine/lang/en_us.json
  MultiVersions/Forge/main/ftbultimine/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#639 mods_update(FTB Teams): 更新至 v2001.3.0
  MultiVersions/Forge/main/ftbteams/lang/en_us.json
  MultiVersions/Forge/main/ftbteams/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#640 mods_update(FTB Chunks): 更新至 v2001.3.0
  MultiVersions/Forge/main/ftbchunks/lang/en_us.json
  MultiVersions/Forge/main/ftbchunks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#641 mods_update(FTB Library): 更新至 v2001.2.1
  MultiVersions/Forge/main/ftblibrary/lang/en_us.json
  MultiVersions/Forge/main/ftblibrary/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#642 mods_update(FTB Quests): 更新至 v2001.4.3
  MultiVersions/Forge/main/ftbquests/lang/en_us.json
  MultiVersions/Forge/main/ftbquests/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#645 mods_feat(Embeddium): 新增 Embeddium v0.3.19
  MultiVersions/Forge/main/embeddium/lang/en_us.json
  MultiVersions/Forge/main/embeddium/lang/zh_tw.json
  MultiVersions/Forge/main/sodium/lang/en_us.json
  MultiVersions/Forge/main/sodium/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#646 mods_feat(Embeddium++): 新增 Embeddium++ v1.2.13
  MultiVersions/Forge/main/embeddiumplus/lang/en_us.json
  MultiVersions/Forge/main/embeddiumplus/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#648 ci(ReleasePlease): 將此 Action 從舊組織名轉移至新組織
  .github/workflows/CI-Pack-ReleasePlease.yml
Labels: ☁️ 工作流程
