Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2024-02, with the labels that each got.

#573 ci(PatchMover): 新增補丁移動腳本
  .github/scripts/pacther_mover.py
  .github/workflows/Reusable-ResourcePacker.yml
Labels: ☁️ 工作流程

#575 mods_fix(Chipped): 修正靈魂燈籠翻譯錯誤
  MultiVersions/Forge/main/chipped/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#576 ci(Patcher): 將補丁改成多版本，且新增強制覆蓋
  .github/scripts/pacther_mover.py
  .github/workflows/Reusable-ResourcePacker.yml
  MultiVersions/Patcher/.config.json
  MultiVersions/Patcher/global/allthemodium-patch/lang/en_us.json
  MultiVersions/Patcher/global/allthemodium-patch/lang/zh_tw.json
  MultiVersions/Patcher/global/functionalstorage-patch/lang/en_us.json
  MultiVersions/Patcher/global/functionalstorage-patch/lang/zh_tw.json
  MultiVersions/Patcher/global/laserio-patch/lang/en_us.json
  MultiVersions/Patcher/global/laserio-patch/lang/zh_tw.json
  MultiVersions/Patcher/global/mob_grinding_utils-patch/lang/en_us.json
  MultiVersions/Patcher/global/mob_grinding_utils-patch/lang/zh_tw.json
  MultiVersions/Patcher/global/shrink-patch/lang/en_us.json
  MultiVersions/Patcher/global/shrink-patch/lang/zh_tw.json
  MultiVersions/Patcher/global/squirtgun-patch/lang/en_us.json
  MultiVersions/Patcher/global/squirtgun-patch/lang/zh_tw.json
  MultiVersions/Patcher/global/waterstrainer-patch/lang/en_us.json
  MultiVersions/Patcher/global/waterstrainer-patch/lang/zh_tw.json
Labels: 🌐 翻譯, ☁️ 工作流程

#574 mods_update(Patcher): 新增自然羅盤補丁
  MultiVersions/Patcher/.config.json
  MultiVersions/Patcher/main/naturescompass-patch/lang/en_us.json
  MultiVersions/Patcher/main/naturescompass-patch/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#461 mods_feat(CloudStorage): 雲儲存 v1.3.4
  MultiVersions/Forge/main/cloudstorage/lang/en_us.json
  MultiVersions/Forge/main/cloudstorage/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#563 mods_update(Chat Heads): 更新至 v0.10.30
  MultiVersions/Forge/main/chat_heads/lang/en_us.json
  MultiVersions/Forge/main/chat_heads/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#568 mods_feat(Nether Chested): 新增地獄儲物箱
  MultiVersions/Forge/main/netherchested/lang/en_us.json
  MultiVersions/Forge/main/netherchested/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#517 mods_feat(Creatures and Beasts): 新增動物與野獸 v1.5.4
  MultiVersions/Forge/main/creatures_and_beasts/lang/en_us.json
  MultiVersions/Forge/main/creatures_and_beasts/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#518 mods_feat(Simply Tools): 新增 Simply Tools v1.2.1
  MultiVersions/Forge/main/simply_tools/lang/en_us.json
  MultiVersions/Forge/main/simply_tools/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#525 mods_feat(Display Case): 新增展示盒 v1.0.7
  MultiVersions/Forge/main/display_case/lang/en_us.json
  MultiVersions/Forge/main/display_case/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#556 mods_feat(Fabric Seasons: Extras): 新增 Fabric 季節｜額外 v1.2
  MultiVersions/Fabric/main/seasonsextras/lang/en_us.json
  MultiVersions/Fabric/main/seasonsextras/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#559 mods_feat(Inventory Management): 新增物品欄管理 v1.5.0
  MultiVersions/Fabric/main/inventorymanagement/lang/en_us.json
  MultiVersions/Fabric/main/inventorymanagement/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#561 mods_feat(Server Country Flags): 新增伺服器國家旗幟 v1.9.4
  MultiVersions/Forge/main/servercountryflags/lang/en_us.json
  MultiVersions/Forge/main/servercountryflags/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#567 mods_feat(Fabric Waystones): 新增 Fabric 傳送石碑 v3.3.2
  MultiVersions/Fabric/main/fwaystones/lang/en_us.json
  MultiVersions/Fabric/main/fwaystones/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#581 chore(ci): 清理未用到的步驟
  .github/workflows/CI-Pack-ReleasePlease.yml
Labels: ☁️ 工作流程
