Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2024-06, with the labels that each got.

#647 mods_feat(Little Logistics): 新增 可愛小火車 v1.4.0
  MultiVersions/Forge/main/littlelogistics/lang/en_us.json
  MultiVersions/Forge/main/littlelogistics/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#653 mods_feat(Ex Deorum): 新增源自虛無：神賜 v1.37
  MultiVersions/Forge/main/exdeorum/lang/en_us.json
  MultiVersions/Forge/main/exdeorum/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#660 chore: 新增 1.21 支援
  .github/configs/versions.json
  MultiVersions/Fabric/1.20/trashcans/lang/en_us.json
  MultiVersions/Fabric/1.20/trashcans/lang/zh_tw.json
  MultiVersions/Forge/1.20/trashcans/lang/en_us.json
  MultiVersions/Forge/1.20/trashcans/lang/zh_tw.json
  MultiVersions/configs/pack-1.18.x.png
  MultiVersions/configs/pack-1.19.x.png
  MultiVersions/configs/pack-1.20.x.png
  MultiVersions/configs/pack-1.21.x.png
Labels: ☁️ 工作流程

#662 mods_update(Sophisticated Series): 更新精巧系列全家桶
  MultiVersions/Forge/main/sophisticatedbackpacks/lang/en_us.json
  MultiVersions/Forge/main/sophisticatedbackpacks/lang/zh_tw.json
  MultiVersions/Forge/main/sophisticatedcore/lang/en_us.json
  MultiVersions/Forge/main/sophisticatedcore/lang/zh_tw.json
  MultiVersions/Forge/main/sophisticatedstorage/lang/en_us.json
  MultiVersions/Forge/main/sophisticatedstorage/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#659 mods_feat(Thermal Extra): 新增 Thermal Extra v3.0.9
  MultiVersions/Forge/main/thermal_extra/lang/en_us.json
  MultiVersions/Forge/main/thermal_extra/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#658 mods_feat(Generator Galore): 新增豐富發電機 v1.2.4
  MultiVersions/Forge/main/generatorgalore/lang/en_us.json
  MultiVersions/Forge/main/generatorgalore/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#657 mods_feat(ForceCraft): 新增力量工藝 v4.1.7
  MultiVersions/Forge/main/forcecraft/lang/en_us.json
  MultiVersions/Forge/main/forcecraft/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#665 mods_fix(Ex Deorum): 修正 Infested Leaves 的譯名
  MultiVersions/Forge/main/exdeorum/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#652 mods_feat(redstonepen): 紅石筆 v1.2.32
  MultiVersions/Forge/main/redstonepen/lang/en_us.json
  MultiVersions/Forge/main/redstonepen/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#675 mods_update(Functional Storage): 更新至 v1.2.11
  MultiVersions/Forge/main/functionalstorage/lang/en_us.json
  MultiVersions/Forge/main/functionalstorage/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#666 mods_feat(Ender IO): 新增 Ender IO v6.1.3
  MultiVersions/Forge/main/enderio/lang/en_us.json
  MultiVersions/Forge/main/enderio/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#667 mods_update(All the Ores): 更新至 v2.2.4
  MultiVersions/Forge/1.18/alltheores/lang/en_us.json
  MultiVersions/Forge/1.18/alltheores/lang/zh_tw.json
  MultiVersions/Forge/main/alltheores/lang/en_us.json
  MultiVersions/Forge/main/alltheores/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#669 mods_update(AllTheCompressed): 更新至 v3.0.2
  MultiVersions/Forge/1.18/allthecompressed/lang/en_us.json
  MultiVersions/Forge/1.18/allthecompressed/lang/zh_tw.json
  MultiVersions/Forge/main/allthecompressed/lang/en_us.json
  MultiVersions/Forge/main/allthecompressed/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#670 mods_update(All The Tweaks): 更新至 v2.3.2
  MultiVersions/Forge/main/allthetweaks/lang/en_us.json
  MultiVersions/Forge/main/allthetweaks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#671 mods_update(Ex Machinis: Divitiae Deorum): 更新至 v3.0.3
  MultiVersions/Forge/main/exmachinis/lang/en_us.json
  MultiVersions/Forge/main/exmachinis/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#672 mods_update(Angel Ring): 更新至 v2.2.2
  MultiVersions/Forge/main/angelring/lang/en_us.json
  MultiVersions/Forge/main/angelring/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#673 mods_feat(Jumbo Furnace): 新增巨無霸熔爐 v4.0.0.5
  MultiVersions/Forge/main/jumbofurnace/lang/en_us.json
  MultiVersions/Forge/main/jumbofurnace/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#674 mods_feat(Thermal Endergy): 新增熱力系列：終末升級 v1.0.0
  MultiVersions/Forge/main/thermalendergy/lang/en_us.json
  MultiVersions/Forge/main/thermalendergy/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#676 mods_update(Iron Furnaces): 更新至 v4.1.6
  MultiVersions/Forge/1.18/ironfurnaces/lang/en_us.json
  MultiVersions/Forge/1.18/ironfurnaces/lang/zh_tw.json
  MultiVersions/Forge/1.19/ironfurnaces/lang/en_us.json
  MultiVersions/Forge/1.19/ironfurnaces/lang/zh_tw.json
  MultiVersions/Forge/main/ironfurnaces/lang/en_us.json
  MultiVersions/Forge/main/ironfurnaces/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#677 mods_feat(ShetiPhianCore): 新增 ShetiPhianCore v1.3
  MultiVersions/Forge/main/shetiphiancore/lang/en_us.json
  MultiVersions/Forge/main/shetiphiancore/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#678 mods_feat(EnderChests): 新增終界箱 v1.2
  MultiVersions/Forge/main/enderchests/lang/en_us.json
  MultiVersions/Forge/main/enderchests/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#679 mods_feat(EnderTanks): 新增終界儲罐 v1.3
  MultiVersions/Forge/main/endertanks/lang/en_us.json
  MultiVersions/Forge/main/endertanks/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#680 mods_feat(Plenty Plates): 新增豐富壓力板 v8.0.0
  MultiVersions/Fabric/main/plentyplates/lang/en_us.json
  MultiVersions/Fabric/main/plentyplates/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#681 mods_update(Re:Deco): 更新至 v1.10.0
  MultiVersions/Forge/main/redeco/lang/en_us.json
  MultiVersions/Forge/main/redeco/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#682 mods_update(Miner's Delight): 更新至 v1.2.3
  MultiVersions/Forge/main/miners_delight/lang/en_us.json
  MultiVersions/Forge/main/miners_delight/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#683 mods_feat(Medieval Seedbags): 新增中世紀種子袋 v1.0.1
  MultiVersions/Forge/main/seedbags/lang/en_us.json
  MultiVersions/Forge/main/seedbags/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#684 mods_update(Gateways to Eternity): 更新至 v4.2.5
  MultiVersions/Forge/1.19/gateways copy/lang/en_us.json
  MultiVersions/Forge/1.19/gateways copy/lang/zh_tw.json
  MultiVersions/Forge/main/gateways/lang/en_us.json
  MultiVersions/Forge/main/gateways/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯
