Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2024-08, with the labels that each got.

#721 ci(Override): 更新覆蓋版本
  .github/configs/override_list.json
Labels: ☁️ 工作流程

#722 mods_feat(AntiBlocksReChiseled): 新增純色方塊：重新雕刻 v4.3
  MultiVersions/Forge/main/antiblocksrechiseled/lang/en_us.json
  MultiVersions/Forge/main/antiblocksrechiseled/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#723 mods_feat(Creative Wireless Transmitter): 新增創造模式無線訊號發射器 v1.1
  MultiVersions/Forge/main/creativewirelesstransmitter/lang/en_us.json
  MultiVersions/Forge/main/creativewirelesstransmitter/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#724 mods_feat(Building Gadgets 2): 新增建築小幫手 2 v1.0.7
  MultiVersions/Forge/main/buildinggadgets2/lang/en_us.json
  MultiVersions/Forge/main/buildinggadgets2/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#725 mods_feat(UtilitiX): 新增實用設備 X v0.8.22
  MultiVersions/Forge/main/utilitix/lang/en_us.json
  MultiVersions/Forge/main/utilitix/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#726 mods_feat(Pickle Tweaks): 新增泡菜調整 v8.0.3
  MultiVersions/Forge/main/pickletweaks/lang/en_us.json
  MultiVersions/Forge/main/pickletweaks/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#727 mods_feat(Mystical Agriculture Tiered Crystals): 新增神秘農業｜分級水晶 v1.6.0
  MultiVersions/Forge/main/matc/lang/en_us.json
  MultiVersions/Forge/main/matc/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#729 mods_feat(XyCraft: Core): 新增 XyCraft：核心 v0.6.22
  MultiVersions/Forge/main/xycraft_core/lang/en_us.json
  MultiVersions/Forge/main/xycraft_core/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#730 mods_feat(XyCraft: Machines): 新增 XyCraft：機器 v0.6.22
  MultiVersions/Forge/main/xycraft_machines/lang/en_us.json
  MultiVersions/Forge/main/xycraft_machines/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#731 mods_feat(XyCraft: Override): 新增 XyCraft：覆蓋 v0.6.22
  MultiVersions/Forge/main/xycraft_override/lang/en_us.json
  MultiVersions/Forge/main/xycraft_override/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#732 mods_feat(XyCraft: World): 新增 XyCraft：世界 v0.6.22
  MultiVersions/Forge/main/xycraft_world/lang/en_us.json
  MultiVersions/Forge/main/xycraft_world/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#734 mods_feat(Mystical Agradditions): 新增神秘農業：擴充 v7.0.3
  MultiVersions/Forge/main/mysticalagradditions/lang/en_us.json
  MultiVersions/Forge/main/mysticalagradditions/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#720 mods_feat(Resourcify): 新增 Resourcify v1.4.0
  MultiVersions/Forge/main/resourcify/lang/en_us.json
  MultiVersions/Forge/main/resourcify/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯, 📭待貢獻

#735 ci(Override): 新增測試
  .github/workflows/CI-OverrideCache.yml
  .github/workflows/Reusable-ResourcePacker.yml
Labels: ☁️ 工作流程

#736 mods_feat(Oreberries Replanted): 新增礦物莓：重製版 v0.5.2
  MultiVersions/Forge/main/oreberriesreplanted/lang/en_us.json
  MultiVersions/Forge/main/oreberriesreplanted/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#737 mods_update(Chipped): 遷移舊版翻譯至 1.18
  MultiVersions/Forge/1.18/chipped/lang/en_us.json
  MultiVersions/Forge/1.18/chipped/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#738 mods_update(Just Enough Items): 更新至 v15.12.2.47
  MultiVersions/Forge/main/jei/lang/en_us.json
  MultiVersions/Forge/main/jei/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#741 mods_update(Rechiseled): 更新至 v1.1.6
  MultiVersions/Forge/main/rechiseled/lang/en_us.json
  MultiVersions/Forge/main/rechiseled/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#739 mods_fix(Resourcify): 修正兩項翻譯
  MultiVersions/Forge/main/resourcify/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#748 mods_feat(NiftyCarts): 新增 NiftyCarts v3.3.1
  MultiVersions/Fabric/main/niftycarts/lang/en_us.json
  MultiVersions/Fabric/main/niftycarts/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#747 mods_feat(Expanded Delight): 新增擴展樂事 v0.1.2.2
  MultiVersions/Forge/main/expandeddelight/lang/en_us.json
  MultiVersions/Forge/main/expandeddelight/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#746 mods_feat(Oh The Biomes We've Gone): 新增我們走過的生態域 v1.1.1 Beta
  MultiVersions/Forge/main/biomeswevegone/lang/en_us.json
  MultiVersions/Forge/main/biomeswevegone/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#752 mods_fix: 將 ExtendedAE 與 AE2 翻譯轉移至 1.20
  MultiVersions/Forge/1.20/appliede/ae2guide/appliede-index.md
  MultiVersions/Forge/1.20/appliede/ae2guide/diagrams/are_you_sure.png
  MultiVersions/Forge/1.20/appliede/ae2guide/diagrams/emc_storage.png
  MultiVersions/Forge/1.20/appliede/ae2guide/diagrams/emc_tiers.png
  MultiVersions/Forge/1.20/appliede/ae2guide/diagrams/klein_star_filling.png
  MultiVersions/Forge/1.20/appliede/ae2guide/diagrams/terminal_ui.png
  MultiVersions/Forge/1.20/appliede/ae2guide/diagrams/transmutable_item.png
  MultiVersions/Forge/1.20/appliede/ae2guide/transmutation_devices.md
  MultiVersions/Forge/1.20/appliede/ae2guide/transmutation_module.md
  MultiVersions/Forge/1.20/appliede/ae2guide/transmutation_terminal.md
  MultiVersions/Forge/1.20/appliede/lang/en_us.json
  MultiVersions/Forge/1.20/appliede/lang/zh_tw.json
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/active_formation_plane.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/caner.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/crystal_fixer.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/epp_intro-index.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/extended_charger.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/extended_drive.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/extended_inscriber.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/extended_interface.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/extended_io_bus.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/extended_io_port.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/extended_modecular_assembler.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/extended_pattern_provider.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/extended_pattern_terminal.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/infinity_cell.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/ingredient_buffer.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/mod_export_bus.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/mod_storage_bus.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/packing_tape.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/pattern_modifier.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/precise_export_bus.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/precise_storage_bus.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/tag_export_bus.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/tag_storage_bus.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/threshold_export_bus.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/threshold_level_emitter.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/upgrade_items.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/wireless_connector.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/ei_gui.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/epa_gui1.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/epa_gui2.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/epp_gui.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/pm.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/pm1.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/pm2.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/pm3.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/pm4.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/pm5.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/pm6.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/pm7.png
  MultiVersions/Forge/1.20/expatternprovider/lang/en_us.json
  MultiVersions/Forge/1.20/expatternprovider/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯
