Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2024-07, with the labels that each got.

#690 mods_update(Apotheosis): 更新至 v7.4.0
  MultiVersions/Forge/1.20/apotheosis/lang/en_us.json
  MultiVersions/Forge/1.20/apotheosis/lang/zh_tw.json
  MultiVersions/Forge/main/apotheosis/lang/en_us.json
  MultiVersions/Forge/main/apotheosis/lang/zh_tw.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/adventure/affix_loot/augmenting.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/adventure/affix_loot/gem_cutting.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/adventure/affix_loot/gem_dust.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/adventure/affix_loot/gems.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/adventure/affix_loot/rarities.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/adventure/affix_loot/reforging.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/adventure/attributes/armor.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/adventure/attributes/armor_pierce.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/adventure/attributes/armor_shred.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/adventure/attributes/armor_toughness.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/adventure/attributes/life_steal.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/adventure/attributes/piercing.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/adventure/attributes/prot_pierce.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/adventure/attributes/prot_shred.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/enchanting/changes/experience_costs.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/enchanting/table/power.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/enchanting/utility/cobwebs.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/enchanting/utility/filtering.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/enchanting/utility/library.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/enchanting/utility/scrapping.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/enchanting/utility/tomes.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/en_us/entries/enchanting/utility/treasure.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/adventure/affix_loot/augmenting.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/adventure/affix_loot/gem_cutting.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/adventure/affix_loot/gems.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/adventure/affix_loot/rarities.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/adventure/affix_loot/reforging.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/adventure/attributes/armor.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/adventure/attributes/armor_pierce.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/adventure/attributes/armor_shred.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/adventure/attributes/armor_toughness.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/adventure/attributes/life_steal.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/adventure/attributes/piercing.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/adventure/attributes/prot_pierce.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/adventure/attributes/prot_shred.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/enchanting/changes/experience_costs.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/enchanting/table/power.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/enchanting/utility/cobwebs.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/enchanting/utility/filtering.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/enchanting/utility/library.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/enchanting/utility/scrapping.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/enchanting/utility/tomes.json
  MultiVersions/Forge/main/apotheosis/patchouli_books/apoth_chronicle/zh_tw/entries/enchanting/utility/treasure.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#691 mods_update(Apothic Attributes): 更新至 v1.3.5
  MultiVersions/Forge/main/attributeslib/lang/en_us.json
  MultiVersions/Forge/main/attributeslib/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#692 mods_feat(Utilitarian): 新增功利主義 v0.9.1
  MultiVersions/Forge/main/utilitarian/lang/en_us.json
  MultiVersions/Forge/main/utilitarian/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#693 mods_feat(Hyperbox): 新增箱庭世界 v4.0.2.0
  MultiVersions/Forge/main/hyperbox/lang/en_us.json
  MultiVersions/Forge/main/hyperbox/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#695 mods_update(ExtendedAE): 更新至 v1.1.10
  MultiVersions/Forge/main/expatternprovider/ae2guide/epp_intro/active_formation_plane.md
  MultiVersions/Forge/main/expatternprovider/ae2guide/epp_intro/caner.md
  MultiVersions/Forge/main/expatternprovider/ae2guide/epp_intro/crystal_fixer.md
  MultiVersions/Forge/main/expatternprovider/ae2guide/epp_intro/extended_io_port.md
  MultiVersions/Forge/main/expatternprovider/ae2guide/epp_intro/extended_pattern_terminal.md
  MultiVersions/Forge/main/expatternprovider/ae2guide/epp_intro/infinity_cell.md
  MultiVersions/Forge/main/expatternprovider/ae2guide/epp_intro/mod_export_bus.md
  MultiVersions/Forge/main/expatternprovider/ae2guide/epp_intro/mod_storage_bus.md
  MultiVersions/Forge/main/expatternprovider/ae2guide/epp_intro/pattern_modifier.md
  MultiVersions/Forge/main/expatternprovider/ae2guide/epp_intro/precise_export_bus.md
  MultiVersions/Forge/main/expatternprovider/ae2guide/epp_intro/precise_storage_bus.md
  MultiVersions/Forge/main/expatternprovider/ae2guide/epp_intro/tag_export_bus.md
  MultiVersions/Forge/main/expatternprovider/ae2guide/epp_intro/tag_storage_bus.md
  MultiVersions/Forge/main/expatternprovider/ae2guide/epp_intro/threshold_export_bus.md
  MultiVersions/Forge/main/expatternprovider/ae2guide/epp_intro/threshold_level_emitter.md
  MultiVersions/Forge/main/expatternprovider/ae2guide/epp_intro/wireless_connector.md
  MultiVersions/Forge/main/expatternprovider/lang/en_us.json
  MultiVersions/Forge/main/expatternprovider/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#696 mods_fix(Draconic Evolution): 刪除死亡訊息多餘的字
  MultiVersions/Forge/main/draconicevolution/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#698 mods_update(Curios API): 更新至 v5.9.1
  MultiVersions/Forge/main/curios/lang/en_us.json
  MultiVersions/Forge/main/curios/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#699 mods_update(Sky GUIs): 更新至 v3.0.16
  MultiVersions/Forge/main/skyguis/lang/en_us.json
  MultiVersions/Forge/main/skyguis/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#701 mods_feat(Applied Flux): 新增應用通量 v1.1.8
  MultiVersions/Forge/main/appflux/lang/en_us.json
  MultiVersions/Forge/main/appflux/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#702 mods_update(MEGA Cells): 更新至 v2.4.4
  MultiVersions/Forge/1.18/megacells/lang/en_us.json
  MultiVersions/Forge/1.18/megacells/lang/zh_tw.json
  MultiVersions/Forge/main/megacells/lang/en_us.json
  MultiVersions/Forge/main/megacells/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#703 mods_feat(Ars Énergistique): 新增應用能源｜新生魔藝擴充 v1.1.7
  MultiVersions/Forge/main/arseng/lang/en_us.json
  MultiVersions/Forge/main/arseng/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#704 mods_feat(AE2 Insert Export Card): 新增 AE2 輸入輸出卡 v1.2.2
  MultiVersions/Forge/main/ae2insertexportcard/lang/en_us.json
  MultiVersions/Forge/main/ae2insertexportcard/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#705 mods_update(Applied Mekanistics): 更新至 v1.4.2
  MultiVersions/Forge/1.18/appmek/lang/en_us.json
  MultiVersions/Forge/1.18/appmek/lang/zh_tw.json
  MultiVersions/Forge/main/appmek/lang/en_us.json
  MultiVersions/Forge/main/appmek/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#700 mods_feat(AppliedE): 新增應用能源｜等價交換擴充 v0.13.3
  .github/workflows/Reusable-ResourcePacker.yml
  MultiVersions/Forge/main/appliede/ae2guide/appliede-index.md
  MultiVersions/Forge/main/appliede/ae2guide/diagrams/are_you_sure.png
  MultiVersions/Forge/main/appliede/ae2guide/diagrams/emc_storage.png
  MultiVersions/Forge/main/appliede/ae2guide/diagrams/emc_tiers.png
  MultiVersions/Forge/main/appliede/ae2guide/diagrams/klein_star_filling.png
  MultiVersions/Forge/main/appliede/ae2guide/diagrams/terminal_ui.png
  MultiVersions/Forge/main/appliede/ae2guide/diagrams/transmutable_item.png
  MultiVersions/Forge/main/appliede/ae2guide/transmutation_devices.md
  MultiVersions/Forge/main/appliede/ae2guide/transmutation_module.md
  MultiVersions/Forge/main/appliede/ae2guide/transmutation_terminal.md
  MultiVersions/Forge/main/appliede/lang/en_us.json
  MultiVersions/Forge/main/appliede/lang/zh_tw.json
Labels: 🌐 翻譯, ☁️ 工作流程, ✨ 新增翻譯

#686 mods_feat(Dynamic Crosshair): 動態準心模組 v8.0.2
  MultiVersions/Forge/main/dynamiccrosshair/lang/en_us.json
  MultiVersions/Forge/main/dynamiccrosshair/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#707 mods_feat(Crafting on a stick): 新增隨身工具 v1.1.5
  MultiVersions/Forge/main/crafting_on_a_stick/lang/en_us.json
  MultiVersions/Forge/main/crafting_on_a_stick/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#709 mods_feat(TofuCraftReload): 新增豆腐工藝
  MultiVersions/Forge/main/tofucraft/lang/en_us.json
  MultiVersions/Forge/main/tofucraft/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#711 mods_fix(VariantCraftingTables): 移除原版翻譯鍵
  MultiVersions/Forge/main/variantcraftingtables/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#712 mods_fix(Gateways to Eternity): 刪除多餘的資料夾
  MultiVersions/Forge/1.18/gateways/lang/en_us.json
  MultiVersions/Forge/1.18/gateways/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#713 mods_feat(VulkanMod): 新增 Vulkan 模組
  MultiVersions/Fabric/main/vulkanmod/lang/en_us.json
  MultiVersions/Fabric/main/vulkanmod/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯
