Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2025-01, with the labels that each got.

#754 ci(Poetry): Install old version
  .github/workflows/CI-OverrideCache.yml
  .github/workflows/Reusable-ImageResize.yml
  .github/workflows/Reusable-ResourcePacker.yml
Labels: ☁️ 工作流程

#757 chore: 新增 1.21.4 支援
  .github/configs/versions.json
Labels: ☁️ 工作流程

#753 mods_update(Ender IO): 更新至 v6.2.7
  MultiVersions/Forge/main/enderio/lang/en_us.json
  MultiVersions/Forge/main/enderio/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#759 mods_update(ExtendedAE): 更新至 v1.3.2
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/assembler_matrix.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/circuit_cutter.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/oversize_interface.md
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/assembler_matrix.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/caner_gui.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/mod_bus_name.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/mod_bus_name2.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/pre_bus_gui1.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/pre_bus_gui2.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/pre_storage_bus.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/thr_bus_gui1.png
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/pic/thr_bus_gui2.png
  MultiVersions/Forge/1.20/expatternprovider/lang/en_us.json
  MultiVersions/Forge/1.20/expatternprovider/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#769 mods_fix(Applied Energistics 2): 修正光源 P2P 通道譯名
  MultiVersions/Forge/main/ae2/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#770 mods_feat(Modern AE2 Additions): 新增應用能源 2｜現代內容擴充
  MultiVersions/Forge/1.20/mae2/ae2guide/faulty_card.md
  MultiVersions/Forge/1.20/mae2/ae2guide/multi_p2p_tunnels.md
  MultiVersions/Forge/1.20/mae2/ae2guide/pattern_p2p_tunnel.md
  MultiVersions/Forge/1.20/mae2/lang/en_us.json
  MultiVersions/Forge/1.20/mae2/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#771 ci(Create PR): Use sign commit
  .github/workflows/CI-Contributors.yml
  .github/workflows/CI-ModsCounter.yml
Labels: ☁️ 工作流程

#773 mods_update(FTB Library): 更新至 v2001.2.7
  MultiVersions/Forge/main/ftblibrary/lang/en_us.json
  MultiVersions/Forge/main/ftblibrary/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#774 mods_update(FTB Chunks): 更新至 v2001.3.4
  MultiVersions/Forge/main/ftbchunks/lang/en_us.json
  MultiVersions/Forge/main/ftbchunks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#775 mods_update(FTB Quests): 更新至 v2001.4.9
  MultiVersions/Forge/main/ftbquests/lang/en_us.json
  MultiVersions/Forge/main/ftbquests/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#776 mods_update(Iron Jetpacks): 更新至 v7.0.8
  MultiVersions/Forge/main/ironjetpacks/lang/en_us.json
  MultiVersions/Forge/main/ironjetpacks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#762 mods_feat(Solar Flux Reborn): 新增 日光通量：重製版 v20.1.6
  MultiVersions/Forge/main/solarflux/lang/en_us.lang
  MultiVersions/Forge/main/solarflux/lang/zh_tw.lang
Labels: 🌐 翻譯, ✨ 新增翻譯

#778 mods_update(EMI): 更新至 v1.1.19
  MultiVersions/Forge/main/emi/lang/en_us.json
  MultiVersions/Forge/main/emi/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#779 mods_update(Sophisticated Series): 更新精巧系列全家桶
  MultiVersions/Forge/main/sophisticatedbackpacks/lang/en_us.json
  MultiVersions/Forge/main/sophisticatedbackpacks/lang/zh_tw.json
  MultiVersions/Forge/main/sophisticatedcore/lang/en_us.json
  MultiVersions/Forge/main/sophisticatedcore/lang/zh_tw.json
  MultiVersions/Forge/main/sophisticatedstorage/lang/en_us.json
  MultiVersions/Forge/main/sophisticatedstorage/lang/zh_tw.json
  MultiVersions/Forge/main/sophisticatedstorageinmotion/lang/en_us.json
  MultiVersions/Forge/main/sophisticatedstorageinmotion/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#783 mods_update(FTB Chunks): 更新至 v2101.1.6
  MultiVersions/Forge/1.20/ftbchunks/lang/en_us.json
  MultiVersions/Forge/1.20/ftbchunks/lang/zh_tw.json
  MultiVersions/Forge/main/ftbchunks/lang/en_us.json
  MultiVersions/Forge/main/ftbchunks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#784 mods_update(FTB Ultimine): 更新至 v2101.1.1
  MultiVersions/Forge/1.18/ftbultimine/lang/en_us.json
  MultiVersions/Forge/1.18/ftbultimine/lang/zh_tw.json
  MultiVersions/Forge/1.19/ftbultimine/lang/en_us.json
  MultiVersions/Forge/1.19/ftbultimine/lang/zh_tw.json
  MultiVersions/Forge/1.20/ftbultimine/lang/en_us.json
  MultiVersions/Forge/1.20/ftbultimine/lang/zh_tw.json
  MultiVersions/Forge/main/ftbultimine/lang/en_us.json
  MultiVersions/Forge/main/ftbultimine/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#785 mods_update(FTB Essentials): 更新至 v2101.1.4
  MultiVersions/Forge/main/ftbessentials/lang/en_us.json
  MultiVersions/Forge/main/ftbessentials/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#786 mods_update(FTB Teams): 更新至 v2101.1.2
  MultiVersions/Forge/main/ftbteams/lang/en_us.json
  MultiVersions/Forge/main/ftbteams/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯
