Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2025-04, with the labels that each got.

#820 mods_update(Vanilla Cookbook): 更新翻譯至 v2.2.3
  MultiVersions/Forge/main/vanillacookbook/lang/en_us.json
  MultiVersions/Forge/main/vanillacookbook/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#821 mods_update(Warden Tools): 更新翻譯至 v2.5.0
  MultiVersions/Fabric/main/wardentools/lang/en_us.json
  MultiVersions/Fabric/main/wardentools/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#822 mods_update(Plushie Mod): 更新翻譯至 v1.5.1
  MultiVersions/Forge/main/plushies/lang/en_us.json
  MultiVersions/Forge/main/plushies/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#823 mods_update(Cultural Delights): 更新翻譯至 v0.17.3
  MultiVersions/Forge/main/culturaldelights/lang/en_us.json
  MultiVersions/Forge/main/culturaldelights/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#824 mods_update(Dragon Loot): 更新翻譯至 v1.1.7
  MultiVersions/Fabric/main/dragonloot/lang/en_us.json
  MultiVersions/Fabric/main/dragonloot/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#827 mods_update(Glassential): 更新翻譯至 v2.0.0
  MultiVersions/Forge/main/glassential/lang/en_us.json
  MultiVersions/Forge/main/glassential/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#829 mods_update(Angel Ring): 更新翻譯至 v2.3.1
  MultiVersions/Forge/main/angelring/lang/en_us.json
  MultiVersions/Forge/main/angelring/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#830 mods_update(Thermal Extra): 更新翻譯至 v3.2.4
  MultiVersions/Forge/main/thermal_extra/lang/en_us.json
  MultiVersions/Forge/main/thermal_extra/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#831 mods_update(Sophisticated Series): 更新精巧系列全家桶
  MultiVersions/Forge/main/sophisticatedbackpacks/lang/en_us.json
  MultiVersions/Forge/main/sophisticatedbackpacks/lang/zh_tw.json
  MultiVersions/Forge/main/sophisticatedcore/lang/en_us.json
  MultiVersions/Forge/main/sophisticatedcore/lang/zh_tw.json
  MultiVersions/Forge/main/sophisticatedstorage/lang/en_us.json
  MultiVersions/Forge/main/sophisticatedstorage/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#832 mods_update(FindMe): 更新翻譯至 v3.3.2
  MultiVersions/Forge/main/findme/lang/en_us.json
  MultiVersions/Forge/main/findme/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#834 mods_update(Crafting Tweaks): 更新翻譯至 v21.1.5
  MultiVersions/Forge/1.18/craftingtweaks/lang/en_us.json
  MultiVersions/Forge/1.18/craftingtweaks/lang/zh_tw.json
  MultiVersions/Forge/1.19/craftingtweaks/lang/en_us.json
  MultiVersions/Forge/1.19/craftingtweaks/lang/zh_tw.json
  MultiVersions/Forge/main/craftingtweaks/lang/en_us.json
  MultiVersions/Forge/main/craftingtweaks/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#836 mods_fix(Functional Storage): 修正 1.20 錯誤的翻譯文本
  MultiVersions/Forge/1.20/functionalstorage/lang/en_us.json
  MultiVersions/Forge/1.20/functionalstorage/lang/zh_tw.json
Labels: 🌐 翻譯, 🔧 修正翻譯

#837 ci(ModrinthPublish): 新增 CurseForge 發布
  .github/workflows/CI-Pack-Beta.yml
  .github/workflows/CI-Pack-ReleasePlease.yml
  .github/workflows/Reusable-ModrinthPublish.yml
Labels: ☁️ 工作流程

#839 chore(Override): 更新覆蓋
  .github/configs/override_list.json
Labels: ☁️ 工作流程

#838 mods_update(ExtendedAE): 更新翻譯至 v1.3.5
  MultiVersions/Forge/1.20/expatternprovider/ae2guide/epp_intro/assembler_matrix.md
  MultiVersions/Forge/1.20/expatternprovider/lang/en_us.json
  MultiVersions/Forge/1.20/expatternprovider/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#826 mods_update(Let's Do Beachparty): 更新翻譯至 v2.0.0
  MultiVersions/Forge/main/beachparty/lang/en_us.json
  MultiVersions/Forge/main/beachparty/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#846 ci(ResourcePacker): 新增指南的強制打包路徑
  .github/workflows/Reusable-ResourcePacker.yml
Labels: ☁️ 工作流程
