Repository TeamKugimiya/ModsTranslationPack, pull requests merged in 2025-02, with the labels that each got.

#789 ci: 更新 r2 連結
  .github/workflows/CI-CommentPR.yml
  .github/workflows/CI-UploadR2.yml
Labels: ☁️ 工作流程

#790 ci: 更新 Python 與修改 cache
  .github/workflows/CI-OverrideCache.yml
  .github/workflows/Reusable-ResourcePacker.yml
  poetry.lock
  pyproject.toml
Labels: ☁️ 工作流程

#788 mods_update(Showcase Item): 更新至 v1.0.1
  MultiVersions/Forge/main/showcaseitem/lang/en_us.json
  MultiVersions/Forge/main/showcaseitem/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#792 ci: 修正發布問題
  .github/workflows/CI-Pack-Beta.yml
  .github/workflows/CI-Pack-PullRequest.yml
  .github/workflows/CI-Pack-ReleasePlease.yml
  .github/workflows/Reusable-ResourcePacker.yml
Labels: ☁️ 工作流程

#802 ci(Override): 更新覆蓋
  .github/configs/override_list.json
  .github/scripts/override_script.py
  poetry.lock
  pyproject.toml
Labels: ☁️ 工作流程

#793 mods_feat(Productive Metalworks): 新增生產金屬加工 v1.2.1
  MultiVersions/Forge/main/productivemetalworks/lang/en_us.json
  MultiVersions/Forge/main/productivemetalworks/lang/zh_tw.json
  MultiVersions/Forge/main/productivemetalworks/patchouli_books/guide/en_us/categories/intro.json
  MultiVersions/Forge/main/productivemetalworks/patchouli_books/guide/en_us/entries/intro.json
  MultiVersions/Forge/main/productivemetalworks/patchouli_books/guide/zh_tw/categories/intro.json
  MultiVersions/Forge/main/productivemetalworks/patchouli_books/guide/zh_tw/entries/intro.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#794 mods_feat(Replication): 新增複製科技 v1.1.15
  MultiVersions/Forge/main/replication/guides/replication/main/guide.md
  MultiVersions/Forge/main/replication/lang/en_us.json
  MultiVersions/Forge/main/replication/lang/zh_tw.json
Labels: 🌐 翻譯, ✨ 新增翻譯

#797 mods_update(Oh The Biomes We've Gone): 更新翻譯至 v2.3.6
  MultiVersions/Forge/main/biomeswevegone/lang/en_us.json
  MultiVersions/Forge/main/biomeswevegone/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#798 mods_update(Re: Deco): 更新翻譯至 v1.14.1
  MultiVersions/Forge/main/redeco/lang/en_us.json
  MultiVersions/Forge/main/redeco/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#799 mods_update(Creeper Overhaul): 更新翻譯至 v4.0.6
  MultiVersions/Forge/main/creeperoverhaul/lang/en_us.json
  MultiVersions/Forge/main/creeperoverhaul/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯

#800 mods_update(Titanium): 更新翻譯至 v4.0.34
  MultiVersions/Forge/main/titanium/lang/en_us.json
  MultiVersions/Forge/main/titanium/lang/zh_tw.json
Labels: 🌐 翻譯, 🆙 更新翻譯
